<div class="row">
    <div class="panel panel-success col-lg-12 ">
        <div class="panel-heading">
            <i class="fa fa-gears"></i>数据存储柜({{cabs.curr.id}}#)
            <a href="" ng-click="initCab();" class="pull-right btn btn-danger btn-xs bk-margin-top-5"
               title="重新获取在位存储柜的数量和基本信息"><i class="fa fa-refresh"></i>存储柜在位状态查询</a>
            <a href="" class="btn btn-primary btn-xs pull-right  bk-margin-top-5 bk-margin-right-5" ng-show="cabs.getLth() > 0"
               ng-click="cabs.show_select_modal();"><i class="fa fa-refresh"></i>选择存储柜</a>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <p ng-show="cabs.getLth() == 0">当前没有任何存储柜信息,建议您进行 <a href="" class="btn btn-primary btn-xs" ng-click="initCab();">系统初始化</a></p>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="item in cabs.cabs">
                 <a href="" class="panel bk-widget bk-border-off" ng-click="cabs.on_select($index)"
                    ng-class="{true:'selected',false:'non-selected'}[item.selected]" style="color:white;">-->
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 bk-margin-top-5 bk-margin-bottom-5" ng-show="cabs.getLth()>0">
                <div class="panel bk-widget bk-border-off bk-margin-off" style="color:white;">
                    <div class="panel-body" ng-class="{true:'bk-bg-warning',false:'bk-bg-info'}[cabs.curr.bad_disk_cnt > 0]">
                        <div style="position:absolute;width:16px;right:45px;top:10px">
                            <div style="position:absolute;left:0px;top:4px;height:8px;width:2px;background-color:white;"></div>
                            <div style="position:absolute;left:2px;top:0px;height:16px;width:32px;border:white 1px solid;float:left;filter:alpha(opacity=10)">
                                <div style="background-color:white;height:12px;margin:1px;width:{{item.electricity}}%;float:right"></div>
                                <div style="position:absolute;font-size:9px;text-align:center;width:inherit;padding-top:1px"
                                     title="剩余电量">
                                    {{cabs.curr.electricity}}%
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span style="font-size:16px;width:inherit;margin-right:10px">存储柜（{{cabs.curr.sn}}）</span>
                            </div>
                        </div>
                        <hr style="margin-top:10px;margin-bottom:10px">
                        <div class="row">
                            <span class="col-lg-12">
                                <i class="fa fa-leaf" title="电压"></i> {{cabs.curr.voltage}}V <i class="fa fa-flash"
                                                                                                style="margin-left:10px"
                                                                                                title="电流"></i>
                                {{cabs.curr.current}}A
                                <p class="pull-right bk-margin-off" ng-show="deployer.idx>0">获取硬盘信息: {{deployer.idx}}/{{deployer.getLength()}}</p>
                            </span>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                在位[<b>
                                    <span class="bk-fg-danger"
                                          ng-bind="cabs.curr.loaded_disk_cnt"></span>
                                </b>]块，桥接[<b>
                                    <span class="bk-fg-danger" ng-bind="cabs.curr.bridged_disk_cnt"></span>
                                </b>]块
                                <span class="pull-right">
                                    共{{cabs.curr.lvl_cnt}}层({{cabs.curr.grp_cnt}}组({{cabs.curr.dsk_cnt}}位))
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 bk-margin-top-5 bk-margin-bottom-5" ng-show="cabs.curr != null">
                <div class="panel bk-widget bk-border-off bk-margin-off" style="color:white;">
                    <div class="panel-body bk-bg-primary">
                        <div class="row">
                            <div class="col-lg-12">
                                <span style="font-size:16px;width:inherit;margin-right:10px">健康状况</span>
                            </div>
                        </div>
                        <hr style="margin-top:10px;margin-bottom:10px">
                        <br><br>
                        <div class="row">
                            <div class="col-lg-12">
                                <span>
                                    Smart异常[ <b class="bk-fg-danger">{{cabs.curr.bad_disk_cnt}}</b> ]块
                                </span>，<span>
                                    MD5异常[ <a href="" class="bk-fg-danger" title="MD5异常硬盘清单"
                                            data-container="body" data-toggle="popover" data-placement="top"
                                            data-content="请在系统报表中查看详情"><b>{{cabs.curr.bad_md5_disk_cnt}}</b></a> ]块
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body bk-bg-very-light-gray bk-padding-5 text-center" ng-show="cabs.changed">
            <p class="bk-fg-primary bk-fg-lighten">
                存储柜信息发生变化,请 <a href="#" onclick="location.reload();">点此刷新页面</a> 查看
            </p>
        </div>
    </div>
</div>
