<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-repeat="item in cabs.cabs">
        <div class="panel bk-widget bk-border-off" ng-class="{true:'selected'}[item.selected]">
            <div class="panel-body bk-bg-primary">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>存储柜({{item.id}}#，{{item.lvl_cnt*item.grp_cnt*item.dsk_cnt}}块)</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        电压：{{item.voltage}}V，电流：{{item.current}}A，电量：{{item.electricity}}KWH
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        温度：{{item.temperature}}℃，湿度：{{item.humidity}}%RH
                    </div>
                </div>                
                <a href="#" ng-click="cabs.on_select($index)"><h6 class="text-right bk-padding-top-20 bk-margin-off">
                    <span ng-bind="'共'+item.lvl_cnt+'层'"></span>
                    <span ng-bind="',每层'+item.grp_cnt+'组'"></span>
                    <span ng-bind="',每组'+item.dsk_cnt+'个盘位'"></span>
                </h6></a>
            </div>
        </div>
    </div>
</div>