<div>
    <div class="row">
        <div class="col-lg-12 panel">
            <h4>
                当前：<span ng-class="{'bk-fg-success':cab.curr.is_bridged(), 'bk-fg-primary':cab.curr.is_loaded(), 'bk-fg-default':!cab.curr.is_loaded() }"><i class="glyphicon" ng-class="{ true:'glyphicon-hdd', false:'glyphicon-ban-circle' }[cab.curr.is_loaded()]"></i> {{cab.curr.get_title()}} {{cab.curr.is_loaded()?'':'(无盘)'}}</span>
                <span ng-show="cab.curr.is_bridged() && !cab.curr.is_write_protected()" class="bk-fg-danger" title="数据可写">[ <i class="fa fa-edit"></i> ]</span>
            </h4>
        </div>
    </div>
    <div>
        <div class="row bk-margin-bottom-5" ng-show="cab.curr.is_loaded()">
            <div class="col-lg-12">
                <a href=""
                   title="查询硬盘详细信息"
                   class="btn btn-xs modal-with-move-anim bk-margin-top-5"
                   ng-class="{true:'btn-warning', false:'btn-primary'}[cab.curr.get_cmd_name() == 'DISKINFO']"
                   ng-disabled="!cab.curr.is_loaded()" ng-click="cab.curr.cmd_commit('DISKINFO')">
                    <i class="fa fa-info-circle"></i>
                    {{cab.curr.get_btn_title('DISKINFO')}}
                </a>

                <!-- Bridge -->
                <a href="" ng-show="user_profile.can_write >= 1"
                   class="btn btn-primary btn-xs modal-with-move-anim bk-margin-top-5"
                   ng-class="{'btn-danger':cab.curr.is_bridged(), 'btn-warning':cab.curr.get_cmd_name() == 'BRIDGE'}"
                   ng-disabled="!cab.curr.is_loaded()"
                   ng-click="cab.curr.cmd_commit('BRIDGE')">
                    <i class="fa"
                       ng-class="{true:'fa-unlink', false:'fa-link'}[cab.curr.is_bridged()]"></i>
                    {{cab.curr.get_btn_title('BRIDGE')}}
                </a>

                <!-- MD5 -->
                <a href=""
                   class="btn btn-xs modal-with-move-anim bk-margin-top-5"
                   ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.is_loaded() && cab.curr.get_cmd_name() == 'MD5']"
                   ng-disabled="!cab.curr.is_loaded()"
                   ng-click="cab.curr.cmd_commit('MD5')">
                    <i class="fa fa-check-circle"></i>
                    {{cab.curr.get_btn_title('MD5')}}
                </a>

                <!-- Copy -->
                <a href="" ng-show="user_profile.can_write >= 2"
                   class="btn btn-xs modal-with-move-anim bk-margin-top-5"
                   ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.is_loaded() && cab.curr.get_cmd_name() == 'COPY']"
                   ng-disabled="!cab.curr.is_loaded()"
                   ng-click="cab.curr.cmd_commit('COPY')">
                    <i class="fa fa-copy"></i>
                    {{cab.curr.get_btn_title('COPY')}}
                </a>
            </div>
        </div>
        <div class="row bk-margin-top-15" ng-show="cab.curr.is_loaded()">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr ng-class="{ true:'bk-fg-success', false:'bk-fg-primary' }[cab.curr.is_bridged()]" ng-show="user_profile.can_write >= 1">
                            <!--
                            <td>
                                <i class="fa " ng-class="{ true:'fa-link', false:'fa-unlink' }[cab.curr.is_bridged()]"></i>
                                {{cab.curr.is_bridged()?'已桥接':(cab.curr.is_loaded()?'未桥接':'')}}
                            </td>
                                -->
                            <td colspan="2">
                                <i class="fa fa-folder-open-o"></i> 浏览
                                <a class="btn btn-primary btn-xs" href="/?a=filetree&f={{cab.sn}}_{{cab.curr.l+1}}_{{cab.curr.g+1}}_{{cab.curr.d+1}}" target="_blank">查看缓存</a>

                                <a ng-href="liexplorer://{{local_host}}/{{cab.sn}}_{{cab.curr.l+1}}_{{cab.curr.g+1}}_{{cab.curr.d+1}}"
                                   ng-show="cab.curr.is_bridged()"
                                   class="btn btn-primary btn-xs" target="_blank" >打开目录</a>
                            </td>
                        </tr>
                        <tr ng-show="cab.curr.is_bridged() && (user_profile.can_write >= 1)">
                            <td colspan="2" class="bk-fg-success">
                                <i class="fa fa-list-ol"></i>
                                索引
                                <a href="" class="btn btn-xs"
                                   ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.get_cmd_name() == 'FILETREE']"
                                   ng-click="cab.curr.cmd_commit('FILETREE')">
                                    {{cab.curr.get_btn_title('FILETREE')}}
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="cab.curr.is_bridged() && (user_profile.can_write >= 2)"
                            ng-class="{ true:'bk-fg-primary', false:'bk-fg-danger' }[cab.curr.is_write_protected()]">
                            <td colspan="2">
                                <i class="fa" ng-class="{ true:'fa-shield', false:'fa-times-circle' }[cab.curr.is_write_protected()]"></i>
                                {{cab.curr.is_write_protected()?'写保护中':'无写保护'}}
                                <a class="btn btn-primary btn-xs"
                                   ng-class="{ true:'btn-danger', false:'btn-success' }[cab.curr.is_write_protected()]"
                                   ng-show="cab.curr.is_bridged()" ng-click="cab.curr.cmd_write_protect_commit()">
                                    {{cab.curr.is_write_protected()?'关闭':'开启'}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="cab.curr.is_loaded()">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tr>
                        <td>状况</td>
                        <td style="word-wrap:break-word;word-break:break-all;">
                            <span class="label" ng-class="{true:'label-success', false:'label-danger'}[cab.curr.get_health()=='1']">{{cab.curr.get_health()=='1'?'健康':'异常'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="min-width:60px">容量</td>
                        <td style="width:100%">{{cab.curr.get_capacity()}} GB</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-qrcode"></i> SN</td>
                        <td>{{cab.curr.get_SN()}}</td>
                    </tr>
                    <tr>
                        <td>MD5</td>
                        <td style="word-wrap:break-word;word-break:break-all;">{{cab.curr.get_MD5()}}</td>
                    </tr>
                    <!--
                    <tr>
                        <td>MD5时间</td>
                        <td style="word-wrap:break-word;word-break:break-all;">{{cab.curr.get_md5_time() | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                    -->
                </table>
            </div>
        </div>
        <div class="row" ng-show="cab.curr.curr_cmd != null">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="min-width:50px">命令</td>
                            <td style="width:100%">{{cab.curr.cmd2chs(cab.curr.get_cmd_name())}}</td>
                        </tr>
                        <tr>
                            <td>进度</td>
                            <td>{{cab.curr.curr_cmd.progress}} %</td>
                        </tr>
                        <tr>
                            <td>耗时</td>
                            <td>{{cab.curr.curr_cmd.usedTime}} s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-if="cab.curr.is_bridged()">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <caption align="top" ng-show="false">
                            硬盘分区情况
                            <a class="btn btn-primary btn-xs" href="" ng-click="cab.curr.update_partitions()">
                                刷新
                            </a>
                        </caption>
                        <thead>
                            <tr>
                                <th>盘符</th>
                                <th>大小</th>
                                <th>剩余空间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="_partition in cab.curr.partitions">
                                <td>{{_partition.name}}</td>
                                <td>{{(_partition.total / 1048576.0).toFixed(2)}} G</td>
                                <td>
                                    {{(_partition.left / 1048576.0).toFixed(2)}} G
                                    <!--
                                        <div class="progress" style="margin:0px">
                                            <div class="progress-bar progress-bar-success"
                                                 role="progressbar"
                                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: {{(_partition.used * 1.0 / _partition.total).toFixed(2)}}%;">
                                                {{(_partition.used * 100.0 / _partition.total).toFixed(2)}}%
                                            </div>
                                        </div>
                                        -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
