
    <div class="panel-heading bk-bg-white">
        <h6><i class="fa fa-table red"></i><span class="break"></span>任务列表</h6>

        <div class="panel-actions">
            <a class="btn-minimize" href="#"><i class="fa fa-caret-up"></i></a>
            <a class="btn-close" href="#"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div id="datatable-default_wrapper" class="dataTables_wrapper no-footer">
            <div class="row datatables-header form-inline">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="datatable-default_length">
                        <label>
                            每页显示
                            <select name="datatable-default_length" aria-controls="datatable-default"
                                    class="select2-offscreen" tabindex="-1" title="">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 条记录</label>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="datatable-default_filter" class="dataTables_filter">
                        <label><input type="search" class="form-control" placeholder="搜索"
                                      aria-controls="datatable-default"></label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="datatable-default" class="table table-bordered table-striped dataTable no-footer"
                       role="grid" aria-describedby="datatable-default_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-default" rowspan="1"
                            colspan="1" style="width: 172px;" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column ascending">任务
                        </th>
                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-default" rowspan="1"
                            colspan="1" style="width: 172px;" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column ascending">类型
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable-default" rowspan="1"
                            colspan="1" style="width: 222px;"
                            aria-label="Browser: activate to sort column ascending">开始时间
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable-default" rowspan="1"
                            colspan="1" style="width: 208px;"
                            aria-label="Platform(s): activate to sort column ascending">进度
                        </th>
                        <th class="hidden-phone sorting" tabindex="0" aria-controls="datatable-default"
                            rowspan="1" colspan="1" style="width: 144px;"
                            aria-label="Engine version: activate to sort column ascending">盘号
                        </th>
                        <th class="hidden-phone sorting" tabindex="0" aria-controls="datatable-default"
                            rowspan="1" colspan="1" style="width: 107px;"
                            aria-label="CSS grade: activate to sort column ascending">状态
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeA odd" role="row" ng-repeat="task in taskPool.going" ng-class-odd="odd"
                        ng-class-even="even">
                        <td class="sorting_1" ng-bind="lang.getLang(task.cmd)"></td>
                        <td  ng-bind="lang.getLang(task.subcmd)"><span ng-show="task.isBridge();">开始</span></td>
                        <td ng-bind="task.start_time|date:'yyyy-MM-dd hh:mm:ss'"></td>
                        <td >
                            <div class="panel bk-widget bk-border-off">
                                <div class="progress light progress-xl" style="margin-top:10;" >
                                    <div ng-style="{width: task.getProgress()+'%'}"  aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="{{task.getProgress()}}" role="progressbar"
                                         class="progress-bar progress-bar-warning">
                                        <span ng-bind="task.getProgress()+'%'" ></span>

                                    </div>
                                </div>
                                <p class="help-block" ng-show="task.getLeftTime() > -1">剩余时间: <span ng-bind="task.getLeftTime()"></span>秒<span ng-bind="' 当前操作:'+task.getStage()" ng-show="task.getStage() != null"></span></p>
                            </div>
                        </td>
                        <td class="center hidden-phone">
                            <p ng-bind="'柜子号：#'+task.cab_id" ng-show="task.cab_id"></p>
                            <p ng-repeat="disk in task.disks" ng-show="task.disks != null">
                                <span><i class="fa fa-hdd-o"></i> {{task.level+'-'+task.group+'-'+disk.id}}</span>
                            </p>
                            <p ng-show="task.disk != null">
                                <span><i class="fa fa-hdd-o"></i>{{task.level+'-'+task.group+'-'+task.disk}}</span>
                            </p>
                            <p ng-show="task.cmd == 'COPY'">
                                <span>拷贝源盘：<i class="fa fa-hdd-o"></i>{{task.srcLevel+'-'+task.srcGroup+'-'+task.srcDisk}}</span>
                                <br/>
                                <span>目标盘：<i class="fa fa-hdd-o"></i>{{task.dstLevel+'-'+task.dstGroup+'-'+task.dstDisk}}</span>
                            </p>
                            <p ng-show="task.cmd == 'DEVICESTATUS'">
                                <span>所有盘</span>
                            </p>
                        </td>
                        <td class="center hidden-phone">
                            <span ng-bind="task.getStatus()" ng-show="task.getStatus()"></span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="row datatables-footer">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_info" id="datatable-default_info" role="status" aria-live="polite">
                        正在显示第1-10条记录（共57条）
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_paginate paging_bs_normal" id="datatable-default_paginate">
                        <ul class="pagination">
                            <li class="prev disabled"><a href="#"><span class="fa fa-chevron-left"></span></a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next"><a href="#"><span class="fa fa-chevron-right"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
