<!DOCTYPE html>
<html lang="en">

	<head>
	
		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title>浏览器适配异常</title>
	
		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		        
		<!-- Favicon and touch icons -->
		<link rel="shortcut icon" href="/Public/assets/ico/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="assets/ico/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="assets/ico/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="assets/ico/apple-touch-icon-152x152.png" />
		
	    <!-- start: CSS file-->
		
		<!-- Vendor CSS-->
		<link href="/Public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/Public/assets/vendor/skycons/css/skycons.css" rel="stylesheet" />
		<link href="/Public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		
		<!-- Plugins CSS-->		
		
		<!-- Theme CSS -->
		<link href="/Public/assets/css/jquery.mmenu.css" rel="stylesheet" />
		
		<!-- Page CSS -->		
		<link href="/Public/assets/css/style.css" rel="stylesheet" />
		<link href="/Public/assets/css/add-ons.min.css" rel="stylesheet" />
		
		<style>
			footer {
				display: none;
			}
		</style>
		
		<!-- end: CSS file-->	
	    
		
		<!-- Head Libs -->
		<script src="/Public/assets/plugins/modernizr/js/modernizr.js"></script>
			
		
	</head>

	<body>
		<!-- Start: Content -->
		<div class="container-fluid content">
			<div class="row">
				<!-- Main Page -->
				<div id="content" class="col-sm-12 full">				
					<div class="row box-error">					
						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="text-center">								
								<h3>浏览器不适配</h2>
								<p>数据存储柜只能通过<font color="red">[Firefox]</font>浏览器进行访问，对其他浏览器的支持正在努力完善中...<a href="/downloads/document.tar" style="color:green">[点击下载]</a></p>
							</div>						
						</div>					
					</div>			
				</div>
				<!-- End Main Page -->					
		
			</div>
		</div><!--/container-->
		
		
		<!-- start: JavaScript-->
		
		<!-- Vendor JS-->				
		<script src="/Public/assets/vendor/js/jquery.min.js"></script>
		<script src="/Public/assets/vendor/js/jquery-2.1.1.min.js"></script>
		<script src="/Public/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="/Public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/Public/assets/vendor/skycons/js/skycons.js"></script>
		
		<!-- Plugins JS-->
		
		<!-- Theme JS -->		
		<script src="/Public/assets/js/jquery.mmenu.min.js"></script>
		<script src="/Public/assets/js/core.min.js"></script>
		
		<!-- Pages JS -->
		<script src="/Public/assets/js/pages/page-404.js"></script>
		
		<!-- end: JavaScript-->
		
	</body>
	
</html>