<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>UI Tabs | Fire - Admin Template</title>

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendor/skycons/css/skycons.css" rel="stylesheet"/>
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="assets/vendor/css/pace.preloader.css" rel="stylesheet"/>

    <!-- Plugins CSS-->
    <link href="assets/plugins/bootkit/css/bootkit.css" rel="stylesheet"/>
    <link href="assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet"/>
    <link href="assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet"/>
    <link href="assets/plugins/pnotify/css/pnotify.custom.css" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link href="assets/css/jquery.mmenu.css" rel="stylesheet"/>

    <!-- Page CSS -->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <!-- <link href="assets/css/add-ons.min.css" rel="stylesheet" /> -->
    <!-- Head Libs -->
    <script src="assets/plugins/modernizr/js/modernizr.js"></script>

    <script src="assets/js/angular.min.js"></script>
    <!-- end: CSS file-->

</head>

<body ng-app="link_app">
<div class="content container-fluid" ng-controller="link_ctrl">
<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <div class="panel panel-default col-lg-9">
            <div class="panel-heading">
                <i class="fa fa-building-o"></i>离线存储柜
            </div>
            <div class="panel-body">
                <div class="tabs tabs-vertical tabs-left ">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="_lvl in cab.levels" ng-class="{'true': 'active'}[$first]">
                            <a data-toggle="tab" href="#pane-cab-level{{$index}}">
                                <i class="glyphicon glyphicon-align-justify"></i>
                                第{{$index+1}}层
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div ng-repeat="_lvl in cab.levels" ng-init="idx_lvl=$index" id="pane-cab-level{{$index}}"
                             class="tab-pane data-plugin-toggle bk-margin-off col-lg-12"
                             ng-class="{'true': 'active'}[$first]">
                            <div ng-repeat="_grp in _lvl.groups" ng-init="idx_grp = $index" class="row">
                                <div ng-repeat="_dsk in _grp.disks" class="col-lg-3" ng-init="idx_dsk = $index">
                                    <div class="btn btn-block btn-sm bk-margin-bottom-15"
                                         ng-class="{
													 'btn-success':_dsk.is_bridged(),
													 'btn-primary':_dsk.is_loaded() && !_dsk.is_bridged(),
													 'btn-default':!_dsk.is_loaded(),
													 'btn-warning' : _dsk.get_cmd_name() != ''
												 }"
                                         ng-click="cab.select_disk(idx_lvl, idx_grp, idx_dsk)">
                                        <div class="bk-vcenter" ng-class="{
													   		true:'text-left',
													   		false:'text-center'
														}[_dsk.base_info.loaded]">
                                            <i class="glyphicon bk-margin-left-5"
                                               ng-class="{
													   		true:'glyphicon-hdd',
													   		false:'glyphicon-ban-circle'
														}[_dsk.base_info.loaded]"></i>
                                            {{_dsk.get_title()}}
                                            {{!_dsk.is_loaded()?'(无盘)':_dsk.get_cmd_name()!=''?'('+_dsk.to_name_cn()+')':''}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default col-lg-3">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-hdd bk-margin-left-5"></i>插槽信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 panel bk-margin-10">
                        <h4>当前硬盘：{{cab.curr.get_title()}}</h4>
                    </div>
                </div>
                <div class="row panel bk-margin-10 bk-margin-bottom-20">
                    <div class="row">
                        <div class="col-lg-6 bk-margin-bottom-5">
                            <p title="在位情况">
                                <i class="glyphicon"
                                   ng-class="{
												true:'glyphicon-hdd',
												false:'glyphicon-ban-circle'
											}[cab.curr.is_loaded()]"></i>
                                {{cab.curr.is_loaded()?'在位':'无盘'}}
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p title="桥接">
                                <i class="fa "
                                   ng-class="{
												true:'fa-link',
												false:'fa-unlink'
											}[cab.curr.is_bridged()]"></i>
                                {{cab.curr.is_bridged()?'已桥接':(cab.curr.is_loaded()?'未桥接':'-')}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p title="硬盘容量">
                                <i class="fa fa-tachometer"></i>
                                {{cab.curr.is_loaded()?cab.curr.get_capacity() : '-'}} GB
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p title="get_SN">
                                <i class="fa fa-list-ul"></i>
                                {{cab.curr.is_loaded()?cab.curr.get_SN() : '-'}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel bk-margin-10">
                    <div class="row bk-margin-top-10">
                        <div class="col-lg-12">
                            <!-- Disk info -->
                            <a href="#modalAnim{{cab.curr.parent.get_busy_disk() != null?'Busy':'InfoStart'}}"
                               class="btn btn-xs modal-with-move-anim"
                               ng-class="{true:'btn-warning', false:'btn-primary'}[cab.curr.get_cmd_name() == 'DISKINFO']"
                               ng-disabled="!cab.curr.is_loaded()">
                                <i class="fa fa-info-circle"></i>
                                {{cab.curr.to_cmd_cn('DISKINFO')}}
                            </a>
                            <!-- Bridge -->
                            <a href="#modalAnim{{cab.curr.is_bridged()?'BridgeStop':cab.curr.parent.get_busy_disk() != null?'Busy':'BridgeStart'}}"
                               class="btn btn-primary btn-xs modal-with-move-anim"
                               ng-class="{'btn-danger':cab.curr.is_bridged(), 'btn-warning':cab.curr.get_cmd_name() == 'BRIDGE'}"
                               ng-disabled="!cab.curr.is_loaded()">
                                <i class="fa" ng-class="{true:'fa-unlink', false:'fa-link'}[cab.curr.is_bridged()]"></i>
                                {{cab.curr.to_cmd_cn('BRIDGE')}}
                            </a>

                            <!-- MD5 -->
                            <a href="#modalAnim{{cab.curr.get_cmd_name() == 'MD5'?'Stop':cab.curr.parent.get_busy_disk() != null?'Busy':'Md5Start'}}"
                               class="btn btn-xs modal-with-move-anim"
                               ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.is_loaded() && cab.curr.get_cmd_name() == 'MD5']"
                               ng-disabled="!cab.curr.is_loaded()">
                                <i class="fa fa-check-circle"></i>
                                {{cab.curr.to_cmd_cn('MD5')}}
                            </a>

                            <!-- Copy -->
                            <a href="#modalAnim{{cab.curr.get_cmd_name() == 'COPY'?'Stop':(cab.curr.busy_disk != null || cab.curr.busy_disk_copy != null?'CopyBusy':'CopyStart')}}"
                               class="btn btn-xs modal-with-move-anim"
                               ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.is_loaded() && cab.curr.get_cmd_name() == 'COPY']"
                               ng-disabled="!cab.curr.is_loaded()">
                                <i class="fa fa-copy"></i>
                                {{cab.curr.to_cmd_cn('COPY')}}
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/container-->
<div id="modalAnimBusy" class="zoom-anim-dialog modal-block modal-block-warning mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">硬盘命令提醒</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-text">
                    <p>
                        硬盘（<span
                            ng-class="{true:'bk-fg-success', false:'bk-fg-primary'}[cab.curr.busy_disk.is_bridged()]">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.busy_disk.get_title()}}
                                </span>）{{
                        cab.curr.busy_disk.is_bridged()?'已经桥接，请停止该硬盘桥接状态...':
                        '正在进行“'+ cab.curr.busy_disk.to_name_cn() + '”操作' +
                        (cab.curr.busy_disk.get_cmd_name() == 'MD5' || cab.curr.busy_disk.get_cmd_name() == 'COPY'?'' +
                        '（已完成'+cab.curr.busy_disk.cmd_info.progress+'%），请先停止该命令以继续。':
                        '（剩余' + cab.curr.busy_disk.cmd_info.lefttime + '秒），请稍候。')
                        }}
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-warning modal-dismiss">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAnimStop" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">硬盘命令提醒</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>
                        您确定停止硬盘（<span ng-class="{true:'bk-fg-success', false:'bk-fg-primary'}[cab.curr.is_bridged()]">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.get_title()}}
                                </span>）当前执行的“{{cab.curr.to_name_cn()}}”命令（{{cab.curr.get_cmd_name()=='DISKINFO' ||
                        cab.curr.get_cmd_name()=='BRIDGE'?'剩余'+cab.curr.cmd_info.lefttime+'秒':'已完成'+cab.curr.cmd_info.progress+'%'}}）？
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" ng-click="cab.curr.cmd_stop()">确认</button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAnimInfoStart" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">硬盘命令确认</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>
                        您确定要提交对硬盘（<span class="bk-fg-primary">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.get_title()}}
                                </span>）的“查询”命令吗？
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" ng-click="cab.curr.cmd_start('DISKINFO')">确认</button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAnimBridgeStart" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <form class="chk-radios-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">硬盘命令提醒</h2>
            </div>
            <div class="panel-body bk-noradius">
                <div class="form-group">
                    <label class="col-md-2 control-label">选择硬盘<span class="required">*</span></label>

                    <div class="col-md-10">
                        <div class="checkbox-custom" ng-repeat="_dsk in cab.curr.get_siblings()">
                            <input id="selected-disk{{$index}}" type="checkbox" name="to_bridged_disks[]"
                                   ng-model="_dsk.isto_bridge" ng-disabled="!_dsk.is_loaded()"
                                   value="{{_dsk.get_title()}}" ng-model="_dsk.isto_bridge" required>
                            <label for="selected-disk{{$index}}"
                                   ng-class="{'bk-fg-primary':_dsk.is_loaded() && !_dsk.is_bridged(), 'bk-fg-success': _dsk.is_bridged()}">
                                <i class="glyphicon bk-margin-left-5"
                                   ng-class="{true:'glyphicon-hdd', false:'glyphicon-ban-circle'}[_dsk.is_loaded()]"></i>
                                {{_dsk.get_title()}}{{_dsk === cab.curr?'(当前)':''}}
                            </label>
                        </div>
                        <label class="error" for="to_bridged_disks[]"></label>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" ng-click="cab.curr.cmd_start('BRIDGE')">确定</button>
                        <button class="btn btn-default modal-dismiss">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="modalAnimBridgeStop" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">硬盘命令提醒</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>
                        您确定对硬盘（<span class="bk-fg-success">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.get_title()}}
                                </span>）提交“停止桥接”命令?
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" ng-click="cab.curr.cmd_stop()">确认</button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAnimMd5Start" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">硬盘命令确认</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>
                        您确定对硬盘（<span class="bk-fg-primary">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.get_title()}}
                                </span>）
                        提交“MD5”命令?
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" ng-click="cab.curr.cmd_start('MD5')">确认</button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAnimCopyStart" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">存储柜 -- 复制命令确认</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-2">源硬盘</label>

                    <div class="col-md-10" ng-if="cab.curr.g%2==0">
                        <label class="bk-fg-primary bk-margin-off control-label">
                            <i class="glyphicon glyphicon-hdd bk-margin-left-5"></i>
                            {{cab.curr.get_title()}}
                            (当前)
                        </label>
                    </div>
                    <div class="col-md-10 bk-margin-bottom-10" ng-if="cab.curr.g%2==1">
                        <div class="radio-custom" ng-repeat="_disk in cab.curr.get_copy_disks()">
                            <input type="radio" ng-model="cab.curr.copy_disk" name="srcDisks"
                                   ng-disabled="!_disk.is_loaded()" value="{{_disk.d}}">
                            <label ng-class="{'bk-fg-primary':(_disk.is_loaded() && !_disk.is_bridged()), 'bk-fg-success':(_disk.is_bridged())}">
                                <i class="glyphicon bk-margin-left-5"
                                   ng-class="{true:'glyphicon-hdd',false:'glyphicon-ban-circle'}[_disk.is_loaded()]"></i>
                                {{_disk.get_title()}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">目的硬盘</label>

                    <div class="col-md-10" ng-if="cab.curr.g%2==1">
                        <label class="bk-fg-primary bk-margin-off control-label">
                            <i class="glyphicon glyphicon-hdd bk-margin-left-5"></i>
                            {{cab.curr.get_title()}}
                            （当前）
                        </label>
                    </div>
                    <div class="col-md-10 bk-margin-top-10" ng-if="cab.curr.g%2==0">
                        <div class="radio-custom"
                             ng-repeat="_disk in cab.curr.parent.parent.groups[cab.curr.g+1].disks">
                            <input type="radio" ng-model="cab.curr.copy_disk" name="dstDisks"
                                   ng-disabled="!_disk.is_loaded()" value="{{_disk.d}}">
                            <label ng-class="{'bk-fg-primary':(_disk.is_loaded() && !_disk.is_bridged()),
																			   'bk-fg-success':(_disk.is_bridged())}">
                                <i class="glyphicon bk-margin-left-5"
                                   ng-class="{true:'glyphicon-hdd',false:'glyphicon-ban-circle'}[_disk.is_loaded()]"></i>
                                {{_disk.get_title()}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" ng-click="cab.curr.cmd_start('COPY')">确定</button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAnimCopyBusy" class="zoom-anim-dialog modal-block modal-block-warning mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">硬盘命令提醒</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-text">
                    <p ng-if="cab.curr.busy_disk != null">
                        {{cab.curr.g%2==0?'源':'目的'}}硬盘组中硬盘（<span
                            ng-class="{true:'bk-fg-success', false:'bk-fg-primary'}[cab.curr.busy_disk.is_bridged()]">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.busy_disk.get_title()}}
                                </span>）{{cab.curr.busy_disk.is_bridged()?'已经桥接，请停止该硬盘桥接状态...':'正在进行“'+
                        cab.curr.busy_disk.to_name_cn() + '”操作' +(cab.curr.busy_disk.get_cmd_name() == 'MD5' ||
                        cab.curr.busy_disk.get_cmd_name() == 'COPY'?''
                        +'（已完成'+cab.curr.busy_disk.cmd_info.progress+'%），请先停止该命令以继续。':'（剩余' +
                        cab.curr.busy_disk.cmd_info.lefttime + '秒），请稍候。')}}
                    </p>

                    <p ng-if="cab.curr.busy_disk == null">
                        {{cab.curr.g%2==0?'目的':'源'}}硬盘组中硬盘（<span
                            ng-class="{true:'bk-fg-success', false:'bk-fg-primary'}[cab.curr.busy_disk_copy.is_bridged()]">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    {{cab.curr.busy_disk_copy.get_title()}}
                                </span>）{{cab.curr.busy_disk_copy.is_bridged()?'已经桥接，请停止该硬盘桥接状态...':'正在进行“'+
                        cab.curr.busy_disk_copy.to_name_cn() + '”操作' +(cab.curr.busy_disk_copy.get_cmd_name() == 'MD5'
                        || cab.curr.busy_disk_copy.get_cmd_name() == 'COPY'?''
                        +'（已完成'+cab.curr.busy_disk_copy.cmd_info.progress+'%），请先停止该命令以继续。':'（剩余' +
                        cab.curr.busy_disk_copy.cmd_info.lefttime + '秒），请稍候。')}}
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-warning modal-dismiss">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default bk-bg-white">
            <div class="panel-heading bk-bg-white">
                <h6><i class="fa fa-table red"></i><span class="break"></span>任务列表</h6>

                <div class="panel-actions">
                    <a class="btn-minimize" href="#"><i class="fa fa-caret-up"></i></a>
                    <a class="btn-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="datatable-default_wrapper" class="dataTables_wrapper no-footer">
                    <div class="row datatables-header form-inline">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable-default_length">
                                <label>
                                <div class="select2-container" id="s2id_autogen1">
                                    <a tabindex="-1" class="select2-choice"  href="javascript:void(0)">
                                        <span class="select2-chosen" id="select2-chosen-2">10</span>
                                        <abbr class="select2-search-choice-close"></abbr>
                                        <span role="presentation" class="select2-arrow"><b role="presentation"></b></span>
                                    </a>
                                    <label class="select2-offscreen" for="s2id_autogen2"></label>
                                    <input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-2" id="s2id_autogen2">

                                    <div class="select2-drop select2-display-none">
                                        <div class="select2-search select2-search-hidden select2-offscreen">
                                            <label
                                                class="select2-offscreen" for="s2id_autogen2_search"></label> <input
                                                type="text" aria-autocomplete="list" aria-expanded="true"
                                                role="combobox" class="select2-input" spellcheck="false"
                                                autocapitalize="off" autocorrect="off" autocomplete="off"
                                                aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">
                                        </div>
                                        <ul role="listbox" class="select2-results" id="select2-results-2"></ul>
                                    </div>
                                </div>
                                <select name="datatable-default_length" aria-controls="datatable-default"  class="select2-offscreen" tabindex="-1" title="">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> records per page</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable-default_filter" class="dataTables_filter">
                                <label><input type="search" class="form-control"   placeholder="Search" aria-controls="datatable-default"></label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="datatable-default" class="table table-bordered table-striped dataTable no-footer"
                               role="grid" aria-describedby="datatable-default_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-default" rowspan="1"
                                    colspan="1" style="width: 172px;" aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column ascending">任务
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-default" rowspan="1"
                                    colspan="1" style="width: 172px;" aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column ascending">类型
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-default" rowspan="1"
                                    colspan="1" style="width: 222px;"
                                    aria-label="Browser: activate to sort column ascending">开始时间
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-default" rowspan="1"
                                    colspan="1" style="width: 208px;"
                                    aria-label="Platform(s): activate to sort column ascending">进度
                                </th>
                                <th class="hidden-phone sorting" tabindex="0" aria-controls="datatable-default"
                                    rowspan="1" colspan="1" style="width: 144px;"
                                    aria-label="Engine version: activate to sort column ascending">盘号
                                </th>
                                <th class="hidden-phone sorting" tabindex="0" aria-controls="datatable-default"
                                    rowspan="1" colspan="1" style="width: 107px;"
                                    aria-label="CSS grade: activate to sort column ascending">状态
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeA odd" role="row" ng-repeat="task in taskPool.going" ng-class-odd="odd" ng-class-even="even">
                                <td class="sorting_1" ng-bind="task.cmd"></td>
                                <td ng-bind="task.subcmd"> </td>
                                <td>Win 98+ / OSX.2+</td>
                                <td class="center hidden-phone">1.7</td>
                                <td class="center hidden-phone">A</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row datatables-footer">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="datatable-default_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 57 entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_paginate paging_bs_normal" id="datatable-default_paginate">
                                <ul class="pagination">
                                    <li class="prev disabled"><a href="#"><span class="fa fa-chevron-left"></span></a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#"><span class="fa fa-chevron-right"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor JS-->
<script src="assets/vendor/js/jquery.min.js"></script>
<script src="assets/vendor/js/jquery-2.1.1.min.js"></script>
<script src="assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/skycons/js/skycons.js"></script>
<script src="assets/vendor/js/pace.min.js"></script>

<!-- Plugins JS-->
<script src="assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="assets/plugins/jquery-validation/js/jquery.validate.js"></script>
<script src="assets/plugins/sparkline/js/jquery.sparkline.min.js"></script>

<!-- Theme JS -->
<script src="assets/js/jquery.mmenu.min.js"></script>
<!--<script src="assets/js/core.min.js"></script>-->
<script src="assets/plugins/magnific-popup/js/magnific-popup.js"></script>
<script src="assets/plugins/pnotify/js/pnotify.custom.js"></script>

<script src="link.js"></script>

</body>

</html>