<div class="container-fluid content">
    <div class="row">
        <div class="panel panel-danger col-lg-12 ">
            <div class="panel-heading">
                <i class="fa fa-info"></i> 退出通知
            </div>
            <div class="panel-body bk-bg-very-light-gray bk-padding-5 text-center">
                <h4 class="bk-fg-primary bk-fg-lighten">您的账号在其他设备上登录, 当前设备与服务器的连接已中断。
                    <a class="btn btn-info btn-sm" href="/index.php?m=Admin&c=Business&a=login">重新登录</a>
                </h4>
            </div>
        </div>
    </div>
</div>