<div class="panel panel-primary">
    <div class="panel-heading">
        操作说明
    </div>
    <div class="panel-body">
        <div class="row"" >
            <div class="col-lg-12">
                <div id="Article">
                    <h4>
                        机柜式硬盘离线存储柜 <a href="/downloads/document.tar" style="color:green">[点击下载]</a><br />
                    </h4>
                    <div class="summary">通常情况下，硬盘处于智能离线休眠状态，只有需要检索硬盘数据或者自检时才启动，所以硬磁盘离线存储柜的功耗极低。</div>			<div class="content">
                        <span style="font-size:14px;">
                            <strong>产品主要特性</strong><br />
                            <strong>1、大容量</strong><br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 单台存储柜支持120个硬盘；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 可通过光纤级联多台存储柜，灵 活増加容量，满足用户在长期使用过程中的扩容需求。<br />
                            <strong>2、可靠性</strong><br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 数据备份：存储对象自动备份功 能，通过多副本存储，提尚数据的可靠性；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 数据校验：用户上传数据或者多 副本拷贝时，系统均会进行校验，同时系统还会周期性的扫描检验所 有数据，以保证数据在传输、保存 及存储过程中的一致性；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 数据恢复：当硬盘柜内硬盘数据 发生变化或者硬盘本身出现损坏时,可以将预先备份在另一块硬盘上的 数据通过硬盘柜本身快速复制到一 个新的硬盘中，以确保重要数据的 安全性；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 运行安全：本硬盘柜采用直流供 电，可实现7X24小时无间断运行<br />
                            3、<strong>绿色节能</strong><br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 通常情况下，硬盘处于智能离线 休眠状态，只有需要检索硬盘数据或者自检时才启动，所以硬磁盘离线存储柜的功耗极低；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 可以任意启动某一块硬磁盘，能 够在低能耗，低成本的条件下保证数据的响应速度。<br />
                            <strong>4、灵活性</strong><br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 支持USB、光纤、以太网等多种接口；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 可通过光纤级联的方式，远程客户端亦可方便的访问硬磁盘离线存储柜；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 硬盘定期循环自检、远程检测、柜内环境异常预警、数据异常预警；<br />
                            &nbsp; &nbsp; &nbsp; &nbsp;&diams; 通过存储柜触摸屏或客户端可对 存储系统进行管理，轻松完成基本设置，同时支持声音、灯光等。
                        </span><br />
                        <br />
                        <table cellpadding="0" cellspacing="0" hspace="0" vspace="0">
                            <tbody>
                                <tr>
                                    <td align="left"><span style="font-size:14px;"><strong>硬件特性</strong></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="CLEAR: both">&nbsp;</div>
                        <table border="1" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">系统架构</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">分布式处理</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">控制器数</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">多组单控</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 26px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">控制框带硬盘能力</span></td>
                                    <td style="HEIGHT: 26px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">20块硬盘</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">前端通道端口类型</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">光纤、<strong>USB</strong>3 0</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">后端通道端口类型</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;"><strong>SATA</strong> <strong>II</strong></span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">接口</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">光纤接口、<strong>USB</strong>、以太网口</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 26px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">最大盘位数</span></td>
                                    <td style="HEIGHT: 26px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">120</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;">支持的硬盘类型</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 321px; TEXT-ALIGN: center"><span style="font-size:14px;"><strong>SATAI</strong>、<strong>II、III</strong></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <span style="font-size:14px;"><strong>软件特性</strong></span>
                        <div style="CLEAR: both">&nbsp;</div>
                        <table border="1" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">硬盘桥接</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">桥接指定的硬盘到输出端口，供客户端查看硬盘内的数据</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 26px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">数据动态保全</span></td>
                                    <td style="HEIGHT: 26px; WIDTH: 483px"><span style="font-size:14px;">可实现数据自动备份，数据不可改写功能</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">监控告警</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">对柜内的温度、湿度、电压、电流等实时检测</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">硬盘复制</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">对指定的硬盘进行整块硬盘的数据复制</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 26px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">数据校验</span></td>
                                    <td style="HEIGHT: 26px; WIDTH: 483px"><span style="font-size:14px;">检测指定硬盘内的数据变动情况</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">硬盘信息</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">查看指定硬盘健康状况</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 47px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">其他功能软件</span></td>
                                    <td style="HEIGHT: 47px; WIDTH: 483px"><span style="font-size:14px;">防读写、防插拔、数据周期检测、硬盘在位显示、远程运行状态、 柜内环境调控设置、定期巡检、定期报表</span></td>
                                </tr>
                                <tr>
                                    <td style="HEIGHT: 27px; WIDTH: 160px"><span style="font-size:14px;">操作系统兼容性</span></td>
                                    <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;"><strong>AIX</strong>、<strong>HP</strong>-<strong>UX</strong>、<strong>Solaris</strong>、<strong>Linux、Windows</strong> 等</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <span style="font-size:14px;"><strong>物理特性</strong></span>
                        <div style="CLEAR: both">
                            <span style="font-size:14px;">&nbsp;</span>
                            <table border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="HEIGHT: 44px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">电源</span></td>
                                        <td style="HEIGHT: 44px; WIDTH: 483px"><span style="font-size:14px;">输入电压：18〜36<strong>Vdc</strong>、90〜264<strong>Vac </strong>输入电流：<strong>Idc</strong>&lt;10<strong>A</strong><strong>、</strong><strong>lac</strong> &lt;2<strong>A</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">电池容量</span></td>
                                        <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">3000<strong>WH</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">功率</span></td>
                                        <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">瞬时功率&lt; 100<strong>W</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 26px; WIDTH: 483px"><span style="font-size:14px;">最小功率1<strong>W</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 23px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">充电功率</span></td>
                                        <td style="HEIGHT: 23px; WIDTH: 483px"><span style="font-size:14px;">&lt;300<strong>W</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">充电时间</span></td>
                                        <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">&lt;10<strong>H</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">尺寸（高<strong>X</strong>宽<strong>X</strong>深）</span></td>
                                        <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">高：174.5<strong>cm</strong>、宽：80<strong>cm</strong>、深：60<strong>cm</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 26px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">重量</span></td>
                                        <td style="HEIGHT: 26px; WIDTH: 483px"><span style="font-size:14px;">240<strong>kg</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">工作环境温度</span></td>
                                        <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">0〜40摄氏度</span></td>
                                    </tr>
                                    <tr>
                                        <td style="HEIGHT: 27px; WIDTH: 160px; TEXT-ALIGN: center"><span style="font-size:14px;">工作环境湿度</span></td>
                                        <td style="HEIGHT: 27px; WIDTH: 483px"><span style="font-size:14px;">20% <strong>RH</strong> 〜90<strong>%RH</strong></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
