<div ng-include="pageViewUrls.modalHelperUrl"></div>
<div ng-include="pageViewUrls.userModalsUrl"></div>
<!-- start: JavaScript-->

<!-- Vendor JS-->
<script src="/Public/assets/vendor/js/jquery.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-2.1.1.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/Public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/Public/assets/vendor/skycons/js/skycons.js"></script>
<script src="/Public/assets/vendor/js/pace.min.js"></script>
<script src="/Public/js/md5.js"></script>

<!-- Plugins JS-->
<script src="/Public/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="/Public/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/Public/assets/plugins/bootkit/js/bootkit.js"></script>
<script src="/Public/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Public/assets/plugins/magnific-popup/js/magnific-popup.js"></script>

<script src="/Public/assets/plugins/select2/select2.js"></script>
<script src="/Public/assets/plugins/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Public/js/angular-1.4.min.js"></script>
<script src="/Public/js/angular-datatables.min.js"></script>
<!-- Theme JS -->
<script src="/Public/assets/js/jquery.mmenu.min.js"></script>
<script src="/Public/assets/js/core.min.js"></script>

<!-- Pages JS -->
<script src="/Public/assets/js/pages/ui-modals.js"></script>
<script src="/Public/assets/plugins/jquery-validation/js/jquery.validate.js"></script>
<script src="/Public/assets/plugins/pnotify/js/pnotify.custom.js"></script>

<script src="/Public/js/angular-sanitize.min.js"></script>
<script src="/Public/js/toastr/toastr.min.js"></script>

<!-- global variables define -->
<script src="/Public/js/cabinet/globalvars.js"></script>

<!-- 用于前端命令处理 -->

<script src="/Public/js/cabinet/modalhelper.js"></script>
<script src="/Public/js/cabinet/CabCmd.js"></script>
<script src="/Public/js/cabinet/CabCmd.js"></script>
<script src="/Public/js/cabinet/CabCmdHelper.js"></script>
<script src="/Public/js/cabinet/TaskPool.js"></script>
<script src="/Public/js/cabinet/deployer.js"></script>
<script src="/Public/js/cabinet/caution.js"></script>
<!-- cabinet.js 必须放到 globaljs.js之前 -->
<script src="/Public/js/cabinet/Disk.js"></script>
<script src="/Public/js/cabinet/cabinet.js"></script>
<script src="/Public/js/cabinet/cabinethelper.js"></script>
<script src="/Public/js/cabinet/user.js"></script>
<script src="/Public/js/cabinet/userLog.js"></script>

<script src="/Public/js/cabinet/globaljs.js"></script>

<!-- page_init.js 必须放到 globaljs.js之后 -->
<script src="/Public/js/cabinet/page_init.js"></script>
<script src="/Public/js/cabinet/services.js"></script>

<!-- end: JavaScript-->
