<!-- Vendor CSS-->
<link href="/Public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Public/assets/vendor/skycons/css/skycons.css" rel="stylesheet" />
<link href="/Public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="/Public/assets/vendor/css/pace.preloader.css" rel="stylesheet" />

<!-- Plugins CSS-->
<link href="/Public/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<link href="/Public/assets/plugins/scrollbar/css/mCustomScrollbar.css" rel="stylesheet" />
<link href="/Public/assets/plugins/bootkit/css/bootkit.css" rel="stylesheet" />
<link href="/Public/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="/Public/assets/plugins/bootstrap-datepicker/css/datepicker-theme.css" rel="stylesheet" />
<link href="/Public/assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet" />
<link href="/Public/assets/plugins/jqvmap/jqvmap.css" rel="stylesheet" />
<link href="/Public/assets/plugins/pnotify/css/pnotify.custom.css" rel="stylesheet" />
<link href="/Public/assets/plugins/select2/select2.css" rel="stylesheet" />
<!-- Theme CSS -->
<link href="/Public/assets/css/jquery.mmenu.css" rel="stylesheet" />

<!-- Page CSS -->
<link href="/Public/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/Public/assets/css/angular-datatables.min.css" rel="stylesheet" />
<link href="/Public/assets/css/style.css" rel="stylesheet" />
<link href="/Public/assets/css/add-ons.min.css" rel="stylesheet" />

<link href="/Public/js/toastr/toastr.min.css" rel="stylesheet" />

<!-- end: CSS file-->
<!-- Head Libs -->
<style>
    li.selected a {
        background-color: green;
    }

    div.selected {
        border: 2px solid darkred !important;
    }

    div.non-selected {
        border: 2px solid white !important;
    }

    .btn-selected {
        border: 2px solid darkred !important;
        color: darkred;
    }

    .btn-not-selected {
        border: 2px solid lightgray !important;
    }

    body {
        min-height: 1000px;
    }

    .dataTables_filter label {
        width: unset !important;
    }

    .dataTables_filter input {
        width: unset !important;
    }

    .main {
        padding-top: 90px;
    }
</style>
