<html>
<head>
	<!-- Basic -->
	<meta charset="UTF-8" />
	<title>系统报表</title>

	<!-- Vendor CSS-->
	<link href="/Public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/Public/assets/vendor/skycons/css/skycons.css" rel="stylesheet" />
	<link href="/Public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/Public/assets/vendor/css/pace.preloader.css" rel="stylesheet" />

	<!-- Plugins CSS-->

	<link href="/Public/assets/plugins/select2/select2.css" rel="stylesheet" />

	<!-- Theme CSS -->
	<link href="/Public/assets/css/jquery.mmenu.css" rel="stylesheet" />

	<!-- Page CSS -->
	<link href="/Public/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
	<link href="/Public/assets/css/angular-datatables.min.css" rel="stylesheet" />
	<link href="/Public/assets/css/style.css" rel="stylesheet" />
	<link href="/Public/assets/plugins/bootkit/css/bootkit.css" rel="stylesheet" />

</head>
<body ng-app="app" ng-controller="app-ctrl" ng-cloak>
	<div class="content">
		<div class="row">
			<div class="col-lg-12">
				{{err_data}}
				<textarea style="display:none" name="" id="" cols="30" rows="10" ng-bind="report_data" class="form-control"></textarea>
				}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">概述</div>
				<div class="panel-body">
					<p>系统共连接了{{report_obj['cabinets'].length}}台数据存储柜，分别为<span class="bk-fg-primary" ng-repeat="cab in report_obj['cabinets']">{{$index==0?'':'，'}}[数据存储柜 {{cab.cab_id}}#]</span>。详细信息如下：</p>
					<div class="row" ng-repeat="cab in report_obj['cabinets']">
						<div class="col-lg-12">
							<div class="panel panel-danger">
								<div class="panel-heading">{{$index + 1}}. 数据存储柜({{cab.cab_id}}#)</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											本<span class="bk-fg-primary">[数据存储柜 {{cab.cab_id}}#]</span>编号为“{{cab.cab_id}}”，含有<span class="bk-fg-danger">[{{cab.level_cnt}}]</span>层，每层<span class="bk-fg-danger">[{{cab.group_cnt}}]</span>组，每组<span class="bk-fg-danger">[{{cab.disk_cnt}}]</span>个硬盘插槽。健康硬盘<span class="bk-fg-success">[{{cab['disks'].length - cab['abnormal_cnt']}}]</span>块，异常硬盘<span class="bk-fg-danger">[{{cab['abnormal_cnt']}}]</span>块。
										</div>										
									</div>	
									<div class="row bk-margin-top-15">
										<div class="col-lg-12">
											<table class="table table-bordered table-stripped" style="font-size:11px">
												<thead>
													<tr>
														<td style="min-width:30px">序号</td>
														<td style="min-width:30px">ID</td>
														<td style="min-width:50px">物理位置</td>
														<td style="min-width:110px">SN</td>
														<td style="min-width:60px">容量</td>
														<td style="min-width:50px">健康状态</td>
														<td style="min-width:110px">首次MD5时间</td>
														<td style="min-width:150px">首次MD5值</td>
														<td style="min-width:110px">上次MD5时间</td>
														<td style="min-width:150px">上次MD5值</td>
														<td style="min-width:110px">最近MD5时间</td>
														<td style="min-width:150px">最近MD5值</td>
														<td style="width:80%">其他</td>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="_dsk in cab.disks">
														<td>{{$index + 1}}</td>
														<td>{{_dsk.disk_id}}</td>
														<td>{{_dsk.level}}-{{_dsk.group}}-{{_dsk.disk}}</td>
														<td>{{_dsk.sn}}</td>
														<td>{{_dsk.capacity | formatnumber}} GB</td>
														<td>
															<span class="label" ng-class="{true:'label-success', false:'label-danger'}[_dsk.normal=='1']">{{_dsk.normal=='1'?'健康':'异常'}}</span>
														</td>	
														<td>{{_dsk.md5_first_time==null?'-':(_dsk.md5_first_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
														<td>{{_dsk.md5_first==null?'-':_dsk.md5_first}}</td>														
														<td>{{_dsk.md5_last_time==null?'-':(_dsk.md5_last_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
														<td>{{_dsk.md5_last==null?'-':_dsk.md5_last}}</td>	
														<td>{{_dsk.md5_curr_time==null?'-':(_dsk.md5_curr_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
														<td>{{_dsk.md5_curr==null?'-':_dsk.md5_curr}}</td>											
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>				
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
<!-- Vendor JS-->
<script src="/Public/assets/vendor/js/jquery.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/Public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/Public/assets/vendor/skycons/js/skycons.js"></script>

<!-- Plugins JS-->
<script src="/Public/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="/Public/assets/plugins/magnific-popup/js/magnific-popup.js"></script>

<script src="/Public/assets/plugins/select2/select2.js"></script>
<script src="/Public/assets/plugins/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Public/js/angular-1.4.min.js"></script>
<script src="/Public/js/angular-datatables.min.js"></script>

<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller('app-ctrl', function($scope, $http){
		$scope.report_obj = {
			'cabinets': []
		};

		$http({
			url: '/index.php?m=admin&c=business&a=generate_report_data',
			method:'get'
		}).success(function(data){
			if (!data){
				$scope.report_data = 'empty data';	
			}
			else{
				$scope.report_data = JSON.stringify(data);
				$scope.report_obj['cabinets'] = data;
			}			
		}).error(function(data){
			$scope.err_data = data;			
		});
	}).filter('formatnumber', function () {
        return function (input) {
            return input.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        };
    });
</script>