<p ng-show="is_ok">系统当前连接{{report_obj['cabinets'].length}}台数据存储柜：<span class="bk-fg-primary" ng-repeat="cab in report_obj['cabinets']">{{$index==0?'':'，'}}[存储柜 {{cab.cab_id}}#]</span>。详细信息如下：</p>
<div class="row" ng-repeat="cab in report_obj['cabinets']">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">数据存储柜 {{cab.cab_id}}#，编号：{{cab.cab_name}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-stripped" style="font-size:11px">
                            <thead>
                                <tr>
                                    <td colspan="2">数据存储柜 {{cab.cab_id}}#</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="min-width:80px">存储柜ID</td>
                                    <td style="width:100%">{{cab.cab_id}}</td>
                                </tr>
                                <tr>
                                    <td>插槽数</td>
                                    <td>{{cab.level_cnt}}层×{{cab.group_cnt}}组×{{cab.disk_cnt}}插槽</td>
                                </tr>
                                <tr>
                                    <td>已安装硬盘数</td>
                                    <td>{{cab['disks'].length}} 块</td>
                                </tr>
                                <tr>
                                    <td>正常</td>
                                    <td>{{cab['disks'].length - cab['abnormal_cnt']}} 块</td>
                                </tr>
                                <tr>
                                    <td>异常</td>
                                    <td>{{cab['abnormal_cnt']}} 块</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row bk-margin-top-15">
                    <div class="col-lg-12" style="overflow-x:auto">
                        <table class="table table-bordered table-stripped" style="font-size:11px">
                            <caption><h4> 存储柜 {{cab.cab_id}}#在位硬盘健康状况报表 — {{today.getFullYear()}}年{{today.getMonth()+1}}月{{today.getDate()}}日</h4></caption>
                            <thead>
                                <tr>
                                    <td style="min-width:10px">序号</td>
                                    <td style="min-width:30px">物理位置</td>
                                    <td style="min-width:50px">SN号</td>
                                    <td style="min-width:40px">容量</td>
                                    <td style="min-width:30px">健康状态</td>
                                    <td style="min-width:60px">健康状态检测时间</td>
                                    <td style="min-width:90px">首次MD5值</td>
                                    <td style="min-width:60px">首次MD5时间</td>
                                    <td style="min-width:90px">上次MD5值</td>
                                    <td style="min-width:60px">上次MD5时间</td>
                                    <td style="min-width:90px">最近MD5值</td>
                                    <td style="min-width:60px">最近MD5时间</td>
                                    <td style="width:80%">备注</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="_dsk in cab.disks" ng-class="{'bk-bg-warning':_dsk.md5_curr != _dsk.md5_last}">
                                    <td>{{$index + 1}}</td>
                                    <td>{{_dsk.level}}-{{_dsk.group}}-{{_dsk.disk}}</td>
                                    <td>{{_dsk.sn}}</td>
                                    <td>{{_dsk.capacity == null?'':(_dsk.capacity | formatnumber) + ' GB'}}</td>
                                    <td>
                                        <span class="label" ng-show="_dsk.sn" ng-class="{true:'label-success', false:'label-danger'}[_dsk.normal=='1']">{{_dsk.normal=='1'?'健康':'异常'}}</span>
                                    </td>
                                    <td>{{_dsk.sn_time==null?'-':(_dsk.sn_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
                                    <td style="word-wrap:break-word;word-break:break-all;">{{_dsk.md5_first==null?'-':_dsk.md5_first}}</td>
                                    <td>{{_dsk.md5_first_time==null?'-':(_dsk.md5_first_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
                                    <td style="word-wrap:break-word;word-break:break-all;">{{_dsk.md5_last==null?'-':_dsk.md5_last}}</td>
                                    <td>{{_dsk.md5_last_time==null?'-':(_dsk.md5_last_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
                                    <td style="word-wrap:break-word;word-break:break-all;">{{_dsk.md5_curr==null?'-':_dsk.md5_curr}}</td>
                                    <td>{{_dsk.md5_curr_time==null?'-':(_dsk.md5_curr_time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
                                    <td>{{_dsk.md5_curr != _dsk.md5_last?'异常：MD5变化':''}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row bk-margin-top-15" ng-repeat="_slt in cab.slots">
                    <div class="panel panel-warning">
                        <div class="panel-heading">存储柜 {{cab.cab_id}}# {{_slt.name}} 盘位硬盘健康状况报表 — {{today.getFullYear()}}年{{today.getMonth()+1}}月{{today.getDate()}}日</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6" style="overflow-x:auto">
                                    <table class="table table-bordered table-stripped" style="font-size:11px">
                                        <caption><h4>MD5报表</h4></caption>
                                        <thead>
                                            <tr>
                                                <td style="min-width:10px">序号</td>
                                                <td style="min-width:50px">sn</td>
                                                <td style="min-width:60px">MD5检测时间</td>
                                                <td style="min-width:110px">MD5检测值</td>
                                                <td style="width:80%">备注</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="_md5 in _slt.md5">
                                                <td>{{$index+1}}</td>
                                                <td>{{_md5.sn}}</td>
                                                <td>{{_md5.md5_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{_md5.md5_value}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6" style="overflow-x:auto">
                                    <table class="table table-bordered table-stripped" style="font-size:11px">
                                        <caption><h4>Smart报表</h4></caption>
                                        <thead>
                                            <tr>
                                                <td style="min-width:10px">序号</td>
                                                <td style="min-width:50px">SN号</td>
                                                <td style="min-width:60px">SN号检测时间</td>
                                                <td style="min-width:60px">容量</td>
                                                <td style="min-width:60px">健康状况</td>
                                                <td style="width:80%">备注</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="_smt in _slt.smart">
                                                <td>{{$index+1}}</td>
                                                <td>{{_smt.sn}}</td>
                                                <td>{{_smt.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{_smt.capacity == null?'':(_smt.capacity | formatnumber) + ' GB'}}</td>
                                                <td>{{_smt.disk_status==0?'健康':'异常'}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>