<div class="row">
    <div class="panel panel-success col-lg-12 ">
        <div class="panel bk-widget bk-border-off">
            <div class="panel-body bk-bg-white bk-fg-inverse text-center bk-padding-15">
                <div class="row">
                    <div class="col-xs-8 text-left bk-vcenter">
                        <div class="">
                            <h1 class="bk-margin-off">自检计划</h1>

                        </div>
                    </div>
                    <div class="col-xs-4 bk-vcenter text-right">
                        <a href="" ng-click="checkerStatus.init()" title="重新获取"> <i class="fa fa-spinner fa-3x"></i></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-left bk-margin-off-bottom">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>状态</th>
                            <th>进度</th>
                            <th>开始时间</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr ng-show="checkerStatus.checkers.length==0">
                            <td>当前没有等待中或进行中的自检计划</td>
                        </tr>
                        <tr ng-repeat="checker in checkerStatus.checkers">
                            <td ng-bind="checker.type"></td>
                            <td ng-bind="checker.status"></td>
                            <td ng-bind="checker.progress"></td>
                            <td ng-bind="checker.start_time * 1000|date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <td class="bk-padding-off-right">
                                <ul class="list-inline bk-margin-off-bottom text-right">
                                    <li class="bk-padding-off-right">
                                        <a data-original-title="Start" title="自检将会立刻启动" ng-click="checkerStatus.startCheck(checker)" data-placement="top" data-toggle="tooltip" class="bk-round bk-border-success bk-border-darken bk-bg-lighten bk-border-3x bk-icon bk-icon-default bk-bg-success">
                                            <i class="fa fa-play"></i>
                                        </a>
                                        <br>
                                        <p class="help-block">立刻启动</p>
                                    </li>
                                    <li class="bk-padding-off-right">
                                        <a data-original-title="Stop" title="停止自检" ng-click="checkerStatus.stopCheck(checker)" data-placement="top" data-toggle="tooltip" class="bk-round bk-border-danger bk-border-darken bk-bg-lighten bk-border-3x bk-icon bk-icon-default bk-bg-danger">
                                            <i class="fa fa-stop"></i>
                                        </a>
                                        <br>
                                        <p class="help-block">停止</p>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--磁盘状态-->
    <div class="panel panel-success col-lg-12 " ng-show="checkerStatus.disks.length>0">
        <div class="panel bk-widget bk-border-off">
            <div class="panel-body bk-bg-white bk-fg-inverse text-center bk-padding-15">
                <div class="row">
                    <div class="col-xs-8 text-left bk-vcenter">
                        <div class="">
                            <h1 class="bk-margin-off">磁盘状态</h1>
                        </div>
                    </div>
                    <div class="col-xs-4 bk-vcenter text-right">
                        <a href="" ng-click="checkerStatus.init()" title="重新获取"> <i class="fa fa-spinner fa-3x"></i></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-left bk-margin-off-bottom">
                        <thead>
                        <tr>
                            <th>磁盘位置</th><th>磁盘信息自检</th><th>磁盘校验</th><th>进度</th><th>桥接</th><th>状态</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr ng-show="checkerStatus.disks.length==0">
                            <td>无磁盘信息</td>
                        </tr>
                        <tr ng-repeat="disk in checkerStatus.disks">
                            <td ng-bind="disk.getPos()"></td>
                            <td ng-bind="disk.transStatus(disk.sn_status)"></td>
                            <td><span  ng-bind="disk.transStatus(disk.md5_status)"></span>
                                <div class="row" style="color:#ff0000;"><span ng-show="disk.md5_skipped=0" ng-bind="'自检被推迟,时间:'+disk.md5_skip_time * 1000|date:'yyyy-MM-dd HH:mm:ss'"></span>
                                </div>
                            </td>

                            <td>
                                <span ng-bind="disk.check_cmd_status.progress" ng-show="disk.check_cmd_status.progress!=null"></span>
                                <span ng-show="disk.check_cmd_status.started=='1' && disk.check_cmd_status.finished=='0'">-已开始</span>
                                <span ng-show="disk.check_cmd_status.finished=='1'">-已完成</span>
                                <span ng-show="disk.check_cmd_status.finished=='1'" ng-bind="'状态码'+disk.check_cmd_status.status"></span>
                            </td>
                            <td ng-bind="disk.bridged"></td>
                            <td>
                                <span  ng-bind="disk.isBusy()"></span>
                                <a href="" class="bk-round bk-border-warning bk-border-darken bk-bg-lighten bk-icon bk-icon-default bk-bg-warning" ng-click="disk.updateCmdStatus()" ng-show="disk.busy=='1'"> <i class="fa fa-refresh"></i></a>
                                <div class="row" style="color:#ff0000;"  ng-show="disk.busy_cmd!=null" >
                                    <span ng-bind="'任务名称:'+disk.busy_cmd.cmd+';是否结束:'+disk.busy_cmd.finished"></span>
                                </div>

                            </td>
                            <td class="bk-padding-off-right">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
