<div class="row">
    <div class="panel panel-success col-lg-12 ">
        <div class="panel bk-widget bk-border-off">
            <div class="panel-body bk-bg-white bk-fg-inverse text-center bk-padding-15">
                <div class="row">
                    <div class="col-xs-8 text-left bk-vcenter">
                        <div class="">
                            <h1 class="bk-margin-off">自检计划</h1>

                        </div>
                    </div>
                    <div class="col-xs-4 bk-vcenter text-right">
                        <a href="" ng-click="checkerStatus.init()" title="重新获取"> <i class="fa fa-spinner fa-3x"></i></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-left bk-margin-off-bottom">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>状态</th>
                            <th>进度</th>
                            <th>开始时间</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr ng-show="checkerStatus.checkers.length==0">
                            <td>当前没有等待中或进行中的自检计划</td>
                        </tr>
                        <tr ng-repeat="checker in checkerStatus.checkers">
                            <td ng-bind="checker.type"></td>
                            <td ng-bind="checker.status"></td>
                            <td ng-bind="checker.progress"></td>
                            <td ng-bind="checker.start_time * 1000|date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <td class="bk-padding-off-right">
                                <ul class="list-inline bk-margin-off-bottom text-right">
                                    <li class="bk-padding-off-right">
                                        <a data-original-title="Stop" title="停止自检" ng-click="checkerStatus.stopCheck(checker)" data-placement="top" data-toggle="tooltip" class="bk-round bk-border-warning bk-border-darken bk-bg-lighten bk-border-3x bk-icon bk-icon-default bk-bg-warning">
                                            <i class="fa fa-stop"></i>
                                        </a>
                                    </li>
                                    <li class="bk-padding-off-right">
                                        <a data-original-title="Detail" title="查看详情" data-placement="top" data-toggle="tooltip" class="bk-round bk-border-warning bk-border-darken bk-bg-lighten bk-border-3x bk-icon bk-icon-default bk-bg-warning">
                                            <i class="fa fa-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
