
    <div class="sidebar-collapse">
        <!-- Sidebar Header Logo-->
        <div class="sidebar-header">
            <img src="/Public/assets/img/logo-text.png" class="img-responsive" alt=""/>
        </div>
        <!-- Sidebar Menu-->
        <div class="sidebar-menu">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-sidebar">
                    <div class="panel-body text-center">
                        <div class="flag">
                            <img src="/Public/assets/img/logo.png" class="img-flags" alt=""/>
                        </div>
                    </div>
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-laptop" aria-hidden="true"></i><span>主页</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailbox-inbox.html">
                            <span class="pull-right label label-success">100</span>
                            <i class="fa  fa-heart" aria-hidden="true"></i><span>健康</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa  fa-cogs" aria-hidden="true"></i><span>环境</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa  fa-hand-o-left" aria-hidden="true"></i><span>退出</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- End Sidebar Menu-->
    </div>
    <!-- Sidebar Footer-->
    <div class="sidebar-footer">
        <div class="small-chart-visits">
            <!--<div class="small-chart" id="sparklineLineVisits"></div><script type="text/javascript">
                var sparklineLineVisitsData = [15, 16, 17, 19, 15, 25, 23, 35, 29, 15, 30, 45];
            </script>-->
            <div class="small-chart-info">
                <label></label>
                <strong></strong>
            </div>

        </div>
        <!--<ul class="sidebar-terms bk-margin-top-10">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>-->
    </div>
    <!-- End Sidebar Footer-->
