
    <div class="sidebar-collapse">
        <!-- Sidebar Header Logo-->
        <div class="sidebar-header">
            <img src="/Public/assets/img/hlsqlogo.png" class="img-responsive" alt="" style="display: inline-block;width: 50%;"/>
        </div>
        <!-- Sidebar Menu-->
        <div class="sidebar-menu">
            <nav id="menu" class="nav-main" role="navigation">
                <div class="panel-body text-center">
                    <h4 style="color: white;">离线硬盘存储管理系统</h4>
                    <div class="flag" style="display: none;">
                        <img src="/Public/assets/img/flags/cn.jpg" style="display: inline-block;width: 50%;" class="img-flags" alt="" />
                    </div>
                </div>
                <ul class="nav nav-sidebar">
                    <li ng-class="{'active':page_index=='main'}">
                        <a href="" ng-click="change_page_index('main')">
                            <i class="fa fa-laptop" aria-hidden="true"></i><span>主页</span>
                        </a>
                    </li>
                    <li ng-class="{'active':page_index=='user_log'}">
                        <a href="" ng-click="change_page_index('user_log');reload_user_log()">
                            <i class="fa  fa-gears" aria-hidden="true"></i><span>操作日志</span>
                        </a>
                    </li>                   
                    <li ng-class="{'active':page_index=='manul'}">
                        <a href="" ng-click="change_page_index('manul')">
                            <i class="fa  fa-book" aria-hidden="true"></i><span>操作说明</span>
                        </a>
                    </li> 
                    <li>
                        <a href="" ng-click="taskPool.user_force_leave();">
                            <i class="fa fa-lock" aria-hidden="true"></i><span>锁屏</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="user_profile.show_logout_modal();">
                            <i class="fa  fa-hand-o-left" aria-hidden="true"></i><span>退出</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- End Sidebar Menu-->
    </div>
