<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/Public/js/browser-check.js"></script>
    <meta charset="UTF-8">
    <title>超级管理员</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <include file="PublicHeader" />

    <link href="/Public/assets/plugins/angular-xeditable-0.2.0/css/xeditable.css" rel="stylesheet" />

</head>
<body ng-app="user_module" ng-controller="user_controller as showCase" ng-init="username='<{$username}>'" ng-cloak>

    <div class="navbar" role="navigation">
        <div class="container-fluid container-nav">
            <!-- Navbar Action -->
            <ul class="nav navbar-nav navbar-actions navbar-left">
                <li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
                <li class="visible-xs visible-sm"><a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
            </ul>
            <!-- Navbar Left -->
            <div class="navbar-left">
                <!-- Search Form -->
                <form class="search navbar-form">
                    <div class="input-group input-search">
                        <input type="text" class="form-control bk-radius" name="key" id="q" placeholder="搜索...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- Navbar Right -->
            <div class="navbar-right">
                <div class="userbox">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="profile-info">
                            <span class="name">您好，<span ng-bind="username"></span></span>
                            <span class="role">
                                <i class="fa fa-circle bk-fg-success"></i>
                                <span>{{username=='useradmin'?'用户':'日志'}}管理权限</span>
                            </span>
                            <span id="username" style="display:none" ng-disabled="user.off_line"><{$username}></span>
                            <span id="userid" style="display:none" ng-disabled="user.off_line"><{$userid}></span>
                            <span id="can_write" style="display:none" ng-disabled="user.off_line"><{$can_write}></span>
                            <span id="token" style="display:none" ng-disabled="user.off_line"><{$token}></span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="dropdown-menu-header bk-bg-white bk-margin-top-15">
                                <div class="progress progress-xs  progress-striped active">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-user"></i> 管理员信息</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-wrench"></i> 参数配置</a>
                            </li>

                            <li>
                                <a href="" ng-click="show_password_change_modal()"><i class="fa fa-usd"></i> 修改密码</a>
                            </li>

                            <li>
                                <a href="" ng-click="showLogoutModal();"><i class="fa fa-power-off"></i> 注销</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- End Userbox -->
            </div>
            <!-- End Navbar Right -->
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="sidebar">
                <div class="sidebar-collapse">
                    <div ng-include="url_side_bar"></div>
                </div>
            </div>
            <div class="main">
                <div class="container-fluid content" ng-if="username=='useradmin'">
                    <div class="row">
                        <include file="super-users-manage-available" />
                    </div>
                    <div class="row">
                        <include file="super-users-manage-removed" />
                    </div>
                </div>
                <div class="container-fluid content" ng-show="page_index == 'user_log'" ng-if="username=='logadmin'">
                    <div class="row">
                        <include file="userLogView" />
                    </div>
                </div>
                <div class="container-fluid content" ng-show="page_index == 'caution'" ng-if="username=='logadmin'">
                    <include file="cautions_log" />
                </div>
                <div class="container-fluid content" ng-show="page_index == 'settings'" ng-show="username=='logadmin'">
                    <include file="settings" />
                </div>
                <div class="container-fluid content" ng-show="page_index == 'self_check_status'" ng-show="username=='logadmin'">
                    <include file="self_check" />
                </div>
                <div class="container-fluid content" ng-show="page_index == 'report'" ng-if="username=='logadmin'">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            系统报表
                        </div>
                        <div class="panel-body">
                            <a href="" class="btn btn-primary" ng-click="make_report()" ng-disabled="is_making">生成</a>
                            <a href="/reports/report.docx" class="btn btn-danger" ng-show="is_ok">下载</a>
                            <div ng-show="is_ok">
                                <include file="report" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="super-user-modals" />
    <include file="modalhelper" />
</body>

</html>
<!-- Vendor JS-->
<script src="/Public/assets/vendor/js/jquery.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-2.1.1.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/Public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/Public/assets/vendor/skycons/js/skycons.js"></script>
<script src="/Public/assets/vendor/js/pace.min.js"></script>
<script src="/Public/assets/plugins/editable/js/bootstrap-editable.min.js"></script>
<script src="/Public/js/md5.js"></script>

<!-- Plugins JS-->
<script src="/Public/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="/Public/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/Public/assets/plugins/bootkit/js/bootkit.js"></script>
<script src="/Public/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Public/assets/plugins/magnific-popup/js/magnific-popup.js"></script>
<script src="/Public/assets/plugins/moment/js/moment.min.js"></script>

<script src="/Public/assets/plugins/select2/select2.js"></script>
<script src="/Public/assets/plugins/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Public/js/angular-1.4.min.js"></script>
<script src="/Public/js/angular-datatables.min.js"></script>
<script src="/Public/assets/plugins/angular-xeditable-0.2.0/js/xeditable.js"></script>

<!-- Theme JS -->
<script src="/Public/assets/js/jquery.mmenu.min.js"></script>
<script src="/Public/assets/js/core.min.js"></script>

<!-- Pages JS -->
<script src="/Public/assets/js/pages/ui-modals.js"></script>
<script src="/Public/assets/plugins/jquery-validation/js/jquery.validate.js"></script>
<script src="/Public/assets/plugins/pnotify/js/pnotify.custom.js"></script>

<script src="/Public/js/angular-sanitize.min.js"></script>

<script src="/Public/js/md5.js"></script>
<script src="/Public/js/angular-1.4.min.js"></script>
<script src="/Public/js/angular-datatables.min.js"></script>
<script src="/Public/js/cabinet/userLog.js"></script>
<script src="/Public/js/cabinet/caution.js"></script>
<script src="/Public/js/cabinet/modalhelper.js"></script>
<script src="/Public/js/super-user/self_check.js"></script>
<script src="/Public/js/super-user/user_settings.js"></script>
<script src="/Public/js/super-user/global.js"></script>
