<div class="panel panel-primary col-12">
    <div class="panel-heading">
        <h4 class="panel-title">用户管理 - [正常]</h4>
    </div>
    <div class="panel-body bk-noradius">
        <div class="row bk-margin-10">
            <div class="col-12">
                <a href="" class="btn btn-primary" ng-click="user_add()">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    新增用户
                </a>
                <a href="" class="btn btn-primary" ng-click="set_samba_ips()">
                    <i class="fa fa-edit"></i>
                    SAMBA IP地址设置
                </a>
            </div>
        </div>
        <div class="table-responsive" ng-cloak>
            <table class="table table-striped dataTable no-footer"
                   datatable="ng" dt-options="showCase.dtOptions">
                <thead>
                    <tr>
                        <td></td>
                        <td>用户名</td>
                        <td>创建时间</td>
                        <td>最后登录时间</td>
                        <td>最后登录IP</td>
                        <td>权限</td>
                        <td>编辑</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users_model">
                        <td>{{$index+1}}</td>
                        <td>
                            <span class="label" ng-class="{true:'label-success', false:'label-danger'}[user.locked < 5]">{{user.locked < 5?'正常':'锁定'}}</span>
                            {{user.username}}
                        </td>
                        <td>{{user.register_time*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{user.last_login_time ? (user.last_login_time*1000 | date:'yyyy-MM-dd HH:mm:ss'):'-'}}</td>
                        <td>{{user.last_login_ip}}</td>
                        <td>{{user.write == 0?'最低':(user.write==1?'只读':'读写')}}</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="" ng-click="user_edit($index)">
                                <i class="fa fa-edit "></i> 权限
                            </a>
                            <a class="btn btn-info btn-xs" href="" ng-click="user_passwd_reset($index)">
                                <i class="glyphicon glyphicon-refresh"></i> 密码
                            </a>
                            <a href="" class="btn btn-danger btn-xs" ng-click="user_remove($index)">
                                <i class="glyphicon glyphicon-trash"></i>
                                删除
                            </a>
                            <a href="" class="btn btn-warning btn-xs" ng-click="user_samba($index)">
                                <i class="fa fa-link"></i>
                                SMB
                            </a>
                            <a href="" class="btn btn-warning btn-xs" ng-click="user_unlock($index)" ng-show="user.locked >= 5">
                                <i class="fa fa-unlock"></i>
                                解锁
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
