<div id="modalUserSambaIps" class="mfp-hide zoom-anim-dialog modal-block modal-block-primary">
    <div class="panel panel-default">
        <div class="panel-heading">
            系统Samba配置 -- [IP地址]
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label">
                            允许访问IP地址：
                        </label>
                        <div class="popover-wrapper">
                            <a href="#" editable-text="smb_ip" e-label="" onbeforesave="validate_smb_ip($data)" onaftersave="save_smb_ip($data)">{{ smb_ip || '[空]' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-dismiss">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalUserSamba" class="mfp-hide zoom-anim-dialog modal-block-primary" style="margin: 40px auto; max-width: 800px">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户[{{users_model[curr_user_idx].username}}]的Samba配置
        </div>
        <div class="panel-body">
            <div class="row" ng-show="is_loading_user_smb_access">
                <div class="col-lg-12">
                    加载中，请稍候。。。
                </div>
            </div>
            <div class="row" ng-hide="is_loading_user_smb_access">
                <div class="col-lg-12">
                    <div ng-show="cabinet_list.length <= 0">没有找到链接的存储柜</div>
                    <div class="tabs bk-margin-off-bottom" ng-hide="cabinet_list.length <= 0">
                        <ul class="nav nav-tabs">
                            <li ng-repeat="cabinet in cabinet_list" ng-class="{'true': 'active'}[$first]">
                                <a href="#smb{{cabinet.sn}}" data-toggle="tab"><i class="fa fa-home"></i> 柜{{cabinet.sn}}# - {{cabinet.name}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="smb{{cabinet.sn}}" class="tab-pane" ng-repeat="cabinet in cabinet_list" ng-class="{'true': 'active'}[$first]">
                                <div class="tabs bk-margin-off-bottom">
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="lvl in cabinet.lvls" ng-class="{'true': 'active'}[$first]">
                                            <a href="#lvl{{cabinet.sn}}-{{lvl.id}}" data-toggle="tab">第{{lvl.id}}层</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="lvl{{cabinet.sn}}-{{lvl.id}}" class="tab-pane" ng-repeat="lvl in cabinet.lvls" ng-class="{'true': 'active'}[$first]">

                                            <div class="row" ng-repeat="grp in lvl.grps">
                                                <div class="col-lg-3 bk-margin-bottom-10" ng-repeat="dsk in grp.dsks">
                                                    <div class="btn btn-block" style="text-align:left"
                                                         ng-class="{
                                                             'btn-danger':dsk.smb == 2,
                                                             'btn-info':dsk.smb==1
                                                             }">
                                                        <span>{{dsk.cab_sn+'-'+dsk.lvl+'-'+dsk.grp+'-'+dsk.dsk}}</span>
                                                        [
                                                        <div class="popover-wrapper">
                                                            <a href="#" editable-select="dsk.smb" e-ng-options="s.value as s.text for s in smb_access" onaftersave="dsk.save($data)" ng-class="{'bk-fg-white':dsk.smb==1 || dsk.smb == 2}">
                                                                {{dsk.smb_title()}}
                                                            </a>
                                                        </div>]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-dismiss">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="superModalChangePassword" class="mfp-hide zoom-anim-dialog modal-block modal-block-primary">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">修改密码</h4>
        </div>
        <div class="panel-body bk-noradius">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="text-input-pwd-curr">当前密码<span class="bk-fg-danger" title="当前密码不能为空">*</span></label>
                    <div class="col-md-9">
                        <input id="text-input-pwd-curr" class="form-control" type="password" placeholder="请输入当前密码" name="text-input-pwd-curr" ng-model="user_profile.curr_pwd" maxlength="16" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="text-input-pwd">新密码<span class="bk-fg-danger" title="新密码不能为空">*</span></label>
                    <div class="col-md-9">
                        <input id="text-input-pwd" class="form-control" type="password" placeholder="请输入新密码" name="text-input-pwd" ng-model="user_profile.new_pwd" maxlength="16" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="text-input-pwd-confirm">新密码确认<span class="bk-fg-danger" title="新密码确认不能为空">*</span></label>
                    <div class="col-md-9">
                        <input id="text-input-pwd-confirm" class="form-control" type="password" placeholder="请输入相同的新密码" name="text-input-pwd-confirm" ng-model="user_profile.new_pwd_confirm" maxlength="16" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <span ng-bind="user_profile.err_msg" class="bk-fg-danger"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary"
                            ng-click="user_profile.changePassword()">
                        确认
                    </button>
                    <button class="btn btn-default modal-dismiss">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUserEdit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    账号编辑
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                    <div class="form-group">
                        <label class="col-md-3 control-label">用户名</label>
                        <div class="col-md-9">
                            <input class="form-control bk-bg-white" type="text" name="text-input" ng-model="users_model[curr_user_idx].username" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">权限</label>
                        <div class="col-md-9">
                            <div class="radio-custom radio-inline">
                                <input id="inline-radio_yes" type="radio" value="2"
                                       name="inline-radios" ng-model="can_write">
                                <label for="inline-radio_yes"> 读写</label>
                            </div>
                            <div class="radio-custom radio-inline">
                                <input id="inline-radio_no" type="radio" value="1" name="inline-radios" ng-model="can_write">
                                <label for="inline-radio_no"> 只读</label>
                            </div>
                            <div class="radio-custom radio-inline">
                                <input id="inline-radio_no" type="radio" value="0" name="inline-radios" ng-model="can_write">
                                <label for="inline-radio_no"> 最低</label>
                            </div>
                            <span class="help-block">赋予用户“读写”权限，将有可能导致用户修改或删除重要数据，请慎重！</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary"
                        ng-click="user_edit_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="modalUserPasswd" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    账号密码重置
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal " name="myFormPassword">
                    <div class="form-group">
                        <label class="col-md-3 control-label">用户名</label>
                        <div class="col-md-9">
                            <input class="form-control bk-bg-white" type="text" name="uname" ng-model="users_model[curr_user_idx].username" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            新密码
                            <span style="color: red">*</span>
                            <br>
                            <span style="color:red" ng-show="myFormPassword.pwd.$invalid">
                                <span ng-show="myFormPassword.pwd.$error.required">（必填）</span>
                            </span>
                        </label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="pwd" placeholder="请输入密码"
                                   ng-model="new_password" maxlength="16" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">
                        </label>
                        <div class="col-md-9">
                            <span class="bk-fg-danger" ng-bind="err_msg"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary"
                        ng-click="user_password_reset_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="modalUserRemove" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    账号删除
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                    <div class="form-group">
                        <label class="col-md-3 control-label">用户名</label>
                        <div class="col-md-9">
                            <input class="form-control bk-bg-white" type="text" name="text-input" ng-model="users_model[curr_user_idx].username" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <p>您确定删除账号？账号将被禁用！</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="user_remove_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="modalUserUnlock" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    账号解锁
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                    <div class="form-group">
                        <label class="col-md-3 control-label">用户名</label>
                        <div class="col-md-9">
                            <input class="form-control bk-bg-white" type="text" name="text-input" ng-model="users_model[curr_user_idx].username" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <p>您确定解锁该账号？将恢复账号的登录状态！</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="user_unlock_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="modalUserAdd" tabindex="-1">
    <form class="form-horizontal" name="myFormUserAdd" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        新增账号
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            用户名
                            <span style="color: red">*</span>
                            <br>
                            <span style="color:red" ng-show="myFormUserAdd.user.$invalid">
                                <span ng-show="myFormUserAdd.user.$error.required">（必填）</span>
                            </span>
                        </label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="请输入用户名"
                                   name="user" ng-model="new_user.username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            密码
                            <span style="color: red">*</span>
                            <br>
                            <span style="color:red" ng-show="myFormUserAdd.pwd.$invalid">
                                <span ng-show="myFormUserAdd.pwd.$error.required">（必填）</span>
                            </span>
                        </label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="pwd" placeholder="请输入密码"
                                   ng-model="new_user.password" maxlength="16" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                        </label>
                        <div class="col-md-9">
                            <span class="bk-fg-danger" ng-bind="new_user.err_msg"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="user_add_commit()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </form>
</div>

<div class="modal fade" id="modalUserEditFail" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    账号操作
                </h4>
            </div>
            <div class="modal-body">
                <p>任务提交失败</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning"
                        data-dismiss="modal">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="modalUserEditSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    账号操作
                </h4>
            </div>
            <div class="modal-body">
                <p>任务提交成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        data-dismiss="modal">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
