<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Import google fonts -->


    <!-- start: CSS file-->

    <!-- Vendor CSS-->
    <link href="/Public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/Public/assets/vendor/skycons/css/skycons.css" rel="stylesheet"/>
    <link href="/Public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/Public/assets/vendor/css/pace.preloader.css" rel="stylesheet"/>

    <!-- Plugins CSS-->
    <link href="/Public/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/scrollbar/css/mCustomScrollbar.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/bootkit/css/bootkit.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/jqvmap/jqvmap.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/pnotify/css/pnotify.custom.css" rel="stylesheet"/>
    <link href="/Public/assets/plugins/select2/select2.css" rel="stylesheet" />
    <link href="/Public/assets/plugins/jquery-datatables-bs3/css/datatables.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="/Public/assets/css/jquery.mmenu.css" rel="stylesheet"/>

    <!-- Page CSS -->
    <link href="/Public/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/Public/assets/css/angular-datatables.min.css" rel="stylesheet" />
    <link href="/Public/assets/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="/Public/assets/css/style.css" rel="stylesheet"/>
    <link href="/Public/assets/css/add-ons.min.css" rel="stylesheet"/>

    <!-- end: CSS file-->
    <script src="/Public/assets/plugins/modernizr/js/modernizr.js"></script>

    <style>
        .warning{
            color:red
        }
    </style>
</head>
<body>

<div ng-app="user_module" ng-controller="user_controller as showCase">
    <div class="content container-fluid bk-margin-10">
        <div class="row">
            <div class="panel panel-default col-12">
                <div class="panel-heading">
                    <h4 class="panel-title">用户管理</h4>
                </div>
                <div class="panel-body bk-noradius">
                    <div class="row bk-margin-10">
                        <div class="col-12">
                            <a href="" class="btn btn-primary" ng-click="user_add()">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                新增用户
                            </a>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-bordered table-striped dataTable no-footer"
                                datatable="ng" dt-options="showCase.dtOptions" >
                            <thead>
                            <tr>
                                <td>序号</td>
                                <td>用户名</td>
                                <td>权限</td>
                                <td>编辑</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users_model">
                                <td>{{$index+1}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.write != 0?'读/写':'只读'}}</td>
                                <td>
                                    <a class="btn btn-info btn-xs" href="" ng-click="user_edit($index)">
                                        <i class="fa fa-edit "></i> 权限
                                    </a>
                                    <a class="btn btn-info btn-xs" href="" ng-click="user_passwd_reset($index)">
                                        <i class="glyphicon glyphicon-refresh"></i> 密码
                                    </a>
                                    <a href="" class="btn btn-danger btn-xs" ng-click="user_remove($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        删除
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalUserEdit" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        账号编辑
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                        <div class="form-group">
                            <label class="col-md-3 control-label">用户名</label>
                            <div class="col-md-9">
                                <input class="form-control bk-bg-white" type="text" name="text-input" ng-model="users_model[curr_user_idx].username" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">写权限</label>
                            <div class="col-md-9">
                                <div class="radio-custom radio-inline">
                                    <input id="inline-radio_yes" type="radio" value="1"
                                           name="inline-radios" ng-model="can_write"
                                    >
                                    <label for="inline-radio_yes"> 允许</label>
                                </div>
                                <div class="radio-custom radio-inline">
                                    <input id="inline-radio_no" type="radio" value="0" name="inline-radios" ng-model="can_write">
                                    <label for="inline-radio_no"> 拒绝</label>
                                </div>
                                <span class="help-block">赋予用户“写权限”将有可能导致用户修改或删除重要数据，请慎重！</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="user_edit_commit()"
                    >
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="modalUserPasswd" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        账号密码重置
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                        <div class="form-group">
                            <label class="col-md-3 control-label">用户名</label>
                            <div class="col-md-9">
                                <p>{{users_model[curr_user_idx].username}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">新密码</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" name="text-input" ng-model="new_password" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="user_password_reset_commit()"
                    >
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="modalUserRemove" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        账号删除
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                        <div class="form-group">
                            <div class="col-md-12">
                                <p>您确定删除用户名为“{{users_model[curr_user_idx].username}}”的账号？删除后将无法恢复！</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-danger"
                            ng-click="user_remove_commit()"
                    >
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="modalUserAdd" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        新增账号
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal " enctype="multipart/form-data" method="post" action="">
                        <div class="form-group">
                            <label class="col-md-3 control-label">用户名</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" name="text-input" ng-model="new_user.username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">密码</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" name="text-input" ng-model="new_user.password" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="user_add_commit()"
                    >
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="modalUserEditFail" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        账号操作
                    </h4>
                </div>
                <div class="modal-body">
                    <p>任务提交失败</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning"
                            data-dismiss="modal">确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="modalUserEditSuccess" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        账号操作
                    </h4>
                </div>
                <div class="modal-body">
                    <p>任务提交成功</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            data-dismiss="modal">确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

</body>

<!-- Vendor JS-->
<script src="/Public/assets/vendor/js/jquery.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-2.1.1.min.js"></script>
<script src="/Public/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/Public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/Public/assets/vendor/skycons/js/skycons.js"></script>
<script src="/Public/assets/vendor/js/pace.min.js"></script>

<!-- Plugins JS-->
<script src="/Public/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="/Public/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/Public/assets/plugins/bootkit/js/bootkit.js"></script>
<script src="/Public/assets/plugins/magnific-popup/js/magnific-popup.js"></script>
<script src="/Public/assets/plugins/moment/js/moment.min.js"></script>

<script src="/Public/assets/plugins/select2/select2.js"></script>
<script src="/Public/assets/plugins/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Public/assets/plugins/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Public/assets/plugins/jquery-datatables-bs3/js/datatables.js"></script>
<!-- Theme JS -->
<script src="/Public/assets/js/jquery.mmenu.min.js"></script>
<script src="/Public/assets/js/core.min.js"></script>

<!-- Pages JS -->
<script src="/Public/assets/js/pages/ui-modals.js"></script>
<script src="/Public/assets/plugins/jquery-validation/js/jquery.validate.js"></script>
<script src="/Public/assets/plugins/pnotify/js/pnotify.custom.js"></script>

<script src="/Public/js/md5.js"></script>
<script src="/Public/js/angular-1.4.min.js"></script>
<script src="/Public/js/angular-datatables.min.js"></script>
<script>
    var user_app = angular.module('user_module', ['datatables']);
    user_app.controller('user_controller', function($scope, $http, DTOptionsBuilder, DTDefaultOptions){
        var vm = this;
        vm.dtOptions = DTOptionsBuilder.newOptions().withPaginationType('full_numbers');
        DTDefaultOptions.setLanguage({
            "sProcessing": "处理中...",
            "sLengthMenu": "每页显示 _MENU_ 条",
            "sZeroRecords": "没有匹配的命令",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sUrl": "",
            "sEmptyTable": "没有账户",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        });

        $scope.user_add = function(){
            $scope.new_user = {};

            $('#modalUserAdd').modal('show');
        }
        $scope.user_add_commit = function(){
            $http({
                url:'/index.php?m=admin&c=business&a=user_add',
                method:'POST',
                data:{
                    username: $scope.new_user.username,
                    password: hex_md5($scope.new_user.password)
                }
            }).success(function(data){
                console.log(data);
                $('#modalUserAdd').modal('hide');
                //响应成功
                try{
                    var rlt = JSON.parse(data);
                    if (rlt.status == 'success'){
                        $scope.reload_users();

                        new PNotify({
                            title: '新增用户',
                            text: '成功新增用户‘'+rlt.username+'’!',
                            type: 'success',
                            shadow: true,
                            icon: 'fa fa-check-o'
                        });
                    }
                    else{
                        $('#modalUserEditFail').modal('toggle');
                    }
                }catch(err) {
                    console.log(222);
                }
                finally {
                }
            }).error(function(data){
                console.log(data);
                //处理响应失败
                $scope.users_model = undefined;
            });
        }
        $scope.user_edit = function(idx){
            $scope.curr_user_idx = idx;
            // 写权限复位
            $scope.can_write = $scope.users_model[idx].write;

            $('#modalUserEdit').modal('toggle');
        }
        $scope.user_edit_commit = function(){
            if ($scope.curr_user_idx == undefined) return;

            var usr = $scope.users_model[$scope.curr_user_idx];
            $http({
                url:'/index.php?m=admin&c=business&a=user_set_write',
                method:'POST',
                data:{
                    id: usr.id,
                    write: $scope.can_write
                }
            }).success(function(data){
                console.log(data);
                $('#modalUserEdit').modal('hide');
                //响应成功
                try{
                    var rlt = JSON.parse(data);
                    if (rlt.status == 'success'){
                        $scope.users_model[$scope.curr_user_idx].write = rlt.write;
                        new PNotify({
                            title: '修改权限',
                            text: '成功修改权限',
                            type: 'success',
                            shadow: true,
                            icon: 'fa fa-check-o'
                        });
                    }
                    else{
                        $('#modalUserEditFail').modal('toggle');
                    }
                }catch(err) {
                    console.log(222);
                }
                finally {
                    console.log(333);
                }
            }).error(function(data){
                console.log(data);
                //处理响应失败
                $scope.users_model = undefined;
            });
        }
        $scope.user_remove = function(idx){
            $scope.curr_user_idx = idx;
            $('#modalUserRemove').modal('toggle');
        }
        $scope.user_remove_commit = function(){
            var usr = $scope.users_model[$scope.curr_user_idx];
            $http({
                url:'/index.php?m=admin&c=business&a=user_remove',
                method:'POST',
                data:{
                    id: usr.id
                }
            }).success(function(data){
                console.log(data);
                $('#modalUserRemove').modal('hide');
                //响应成功
                try{
                    var rlt = JSON.parse(data);
                    if (rlt.status == 'success'){
                        $scope.reload_users();
                        new PNotify({
                            title: '删除用户',
                            text: '成功删除用户',
                            type: 'success',
                            shadow: true,
                            icon: 'fa fa-check-o'
                        });
                    }
                    else{
                        $('#modalUserEditFail').modal('toggle');
                    }
                }catch(err) {
                    console.log(222);
                }
                finally {
                }
            }).error(function(data){
                console.log(data);
            });
        }


        $scope.user_passwd_reset = function(idx){
            $scope.new_password = '';
            $scope.curr_user_idx = idx;

            $('#modalUserPasswd').modal('show');
        }
        $scope.user_password_reset_commit = function(){
            var usr = $scope.users_model[$scope.curr_user_idx];
            $http({
                url:'/index.php?m=admin&c=business&a=user_passwd_reset',
                method:'POST',
                data:{
                    id: usr.id,
                    password: hex_md5($scope.new_password)
                }
            }).success(function(data){
                console.log(data);
                $('#modalUserPasswd').modal('hide');
                //响应成功
                try{
                    var rlt = JSON.parse(data);
                    if (rlt.status == 'success'){
                        new PNotify({
                            title: '重置密码',
                            text: '成功重置用户密码',
                            type: 'success',
                            shadow: true,
                            icon: 'fa fa-check-o'
                        });
                    }
                    else{
                        $('#modalUserEditFail').modal('toggle');
                    }
                }catch(err) {
                    console.log(222);
                }
                finally {
                }
            }).error(function(data){
                console.log(data);
            });
        }

        $scope.reload_users = function(){
            $http({
                url:'/index.php?m=admin&c=business&a=get_users',
                method:'GET'
            }).success(function(data,header,config,status){
                //响应成功
                $scope.users_model = data;
            }).error(function(data,header,config,status){
                //处理响应失败
                $scope.users_model = undefined;
            });
        }

        $scope.reload_users();
    });
</script>
</html>