

    <div class="content container-fluid">
        <!-- Start: Content -->
        <div class="container-fluid content">
            <div class="row">
                <div class="panel panel-default col-lg-9">
                    <div class="panel-heading">
                        <i class="fa fa-building-o"></i>离线存储柜
                    </div>
                    <div class="panel-body">
                        <div class="tabs tabs-vertical tabs-left ">
                            <ul class="nav nav-tabs">
                                <li ng-repeat="_lvl in cab.levels" ng-class="{'true': 'active'}[$first]">
                                    <a data-toggle="tab" href="#pane-cab-level{{$index}}">
                                        <i class="glyphicon glyphicon-align-justify"></i>
                                        第{{$index+1}}层
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div ng-repeat="_lvl in cab.levels" ng-init="idx_lvl=$index" id="pane-cab-level{{$index}}"
                                     class="tab-pane data-plugin-toggle bk-margin-off col-lg-12"
                                     ng-class="{'true': 'active'}[$first]">
                                    <div ng-repeat="_grp in _lvl.groups" ng-init="idx_grp = $index" class="row">
                                        <div ng-repeat="_dsk in _grp.disks" class="col-lg-3" ng-init="idx_dsk = $index">
                                            <div class="btn btn-block btn-sm bk-margin-bottom-15"
                                                 ng-class="{
													 'btn-success':_dsk.is_bridged(),
													 'btn-primary':_dsk.is_loaded() && !_dsk.is_bridged(),
													 'btn-default':!_dsk.is_loaded(),
													 'btn-warning' : _dsk.get_cmd_name() != ''
												 }"
                                                 ng-click="cab.select_disk(idx_lvl, idx_grp, idx_dsk)">
                                                <div class="bk-vcenter" ng-class="{
													   		true:'text-left',
													   		false:'text-center'
														}[_dsk.base_info.loaded]">
                                                    <i class="glyphicon bk-margin-left-5"
                                                       ng-class="{
													   		true:'glyphicon-hdd',
													   		false:'glyphicon-ban-circle'
														}[_dsk.base_info.loaded]"></i>
                                                    {{_dsk.get_title()}} {{_dsk.get_extent_title()}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-lg-3">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-hdd bk-margin-left-5"></i>插槽信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 panel bk-margin-10">
                                <h4>当前硬盘：{{cab.curr.get_title()}}</h4>
                            </div>
                        </div>
                        <div class="row panel bk-margin-10 bk-margin-bottom-20">
                            <div class="row">
                                <div class="col-lg-6 bk-margin-bottom-5">
                                    <p title="在位情况">
                                        <i class="glyphicon"
                                           ng-class="{
												true:'glyphicon-hdd',
												false:'glyphicon-ban-circle'
											}[cab.curr.is_loaded()]"></i>
                                        {{cab.curr.is_loaded()?'在位':'无盘'}}
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p title="桥接">
                                        <i class="fa "
                                           ng-class="{
												true:'fa-link',
												false:'fa-unlink'
											}[cab.curr.is_bridged()]"></i>
                                        {{cab.curr.is_bridged()?'已桥接':(cab.curr.is_loaded()?'未桥接':'-')}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p title="硬盘容量">
                                        <i class="fa fa-tachometer"></i>
                                        {{cab.curr.is_loaded()?cab.curr.get_capacity() : '-'}} GB
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p title="get_SN">
                                        <i class="fa fa-list-ul"></i>
                                        {{cab.curr.is_loaded()?cab.curr.get_SN() : '-'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel bk-margin-10">
                            <div class="row bk-margin-top-10">
                                <div class="col-lg-12">
                                    <!-- Disk info 
                                    <a href="#modalAnim{{cab.curr.get_busy_disk() != null?'Busy':'Start'}}"
                                       class="btn btn-xs modal-with-move-anim"
                                       ng-class="{true:'btn-warning', false:'btn-primary'}[cab.curr.get_cmd_name() == 'DISKINFO']"
                                       ng-disabled="!cab.curr.is_loaded()">
                                        <i class="fa fa-info-circle"></i>
                                        {{cab.curr.get_btn_title('DISKINFO')}}
                                    </a>-->

                                    <!-- Bridge -->
                                    <a href="#modalAnim{{cab.curr.is_bridged() ? 'Stop' : (cab.curr.get_busy_disk() != null?'Busy':'Start')}}"
                                       class="btn btn-primary btn-xs modal-with-move-anim"
                                       ng-class="{'btn-danger':cab.curr.is_bridged(), 'btn-warning':cab.curr.get_cmd_name() == 'BRIDGE'}"
                                       ng-disabled="!cab.curr.is_loaded()"
                                       ng-click="cab.curr.cmd_commit('BRIDGE')">
                                        <i class="fa" ng-class="{true:'fa-unlink', false:'fa-link'}[cab.curr.is_bridged()]"></i>
                                        {{cab.curr.get_btn_title('BRIDGE')}}
                                    </a>

                                    <!-- MD5 -->
                                    <a href="#modalAnim{{cab.curr.get_cmd_name() == 'MD5'?'Stop':cab.curr.get_busy_disk() != null?'Busy':'Start'}}"
                                       class="btn btn-xs modal-with-move-anim"
                                       ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.is_loaded() && cab.curr.get_cmd_name() == 'MD5']"
                                       ng-disabled="!cab.curr.is_loaded()"
                                       ng-click="cab.curr.cmd_commit('MD5')">
                                        <i class="fa fa-check-circle"></i>
                                        {{cab.curr.get_btn_title('MD5')}}
                                    </a>

                                    <!-- Copy -->
                                    <a href="#modalAnim{{cab.curr.get_cmd_name() == 'COPY'?'Stop': (cab.curr.get_copy_busy_disk() != null? 'Busy' : 'Start')}}"
                                       class="btn btn-xs modal-with-move-anim"
                                       ng-class="{true:'btn-danger', false:'btn-primary'}[cab.curr.is_loaded() && cab.curr.get_cmd_name() == 'COPY']"
                                       ng-disabled="!cab.curr.is_loaded()"
                                       ng-click="cab.curr.cmd_commit('COPY')">
                                        <i class="fa fa-copy"></i>
                                        {{cab.curr.get_btn_title('COPY')}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/container-->

    </div>

